In [77]:
import pandas as pd
import numpy as np

In [244]:
vac = pd.read_csv("2000-2015 CAKindergartenData.csv")

In [245]:
# Create new dataframe with info needed to calculat Perusiss vaccination rate for each county by year

dtp_df = vac[['Year', 'COUNTY', 'ENROLLMENT', 'DTP#']]
# dtp_df['cnty_vac_rate'] = 0
dtp_df.head()

   Year   COUNTY ENROLLMENT DTP#
0  2000  ALAMEDA         80   80
1  2000  ALAMEDA         86   86
2  2000  ALAMEDA        100   98
3  2000  ALAMEDA        103  102
4  2000  ALAMEDA        152  149

In [246]:
dtp_df[dtp_df["ENROLLMENT"] == " "]["ENROLLMENT"].count()

1366

In [247]:
dtp_df.shape

(117801, 4)

In [248]:
dtp_df = dtp_df[dtp_df["ENROLLMENT"] != " "]
dtp_df[dtp_df["ENROLLMENT"] == " "]["ENROLLMENT"].count()

dtp_df["ENROLLMENT"] = pd.to_numeric(dtp_df["ENROLLMENT"])
dtp_df.shape

(116435, 4)

In [250]:
dtp_df[dtp_df['DTP#'] == " "].count()
dtp_df['DTP#'] = pd.to_numeric(dtp_df['DTP#'])
# dtp_df.dtypes

In [230]:
# sum up enrollement and vaccination numbers by year and county

dtp_summed_df = dtp_df.groupby(['Year','COUNTY']).sum()
dtp_summed_df['cnty_vac_rate'] = 0
dtp_summed_df.head(10)

dtp_summed_df.dtypes

ENROLLMENT         int64
DTP#             float64
cnty_vac_rate      int64
dtype: object

In [240]:
# dtp_summed_df = dtp_summed_df.dropna()
# dtp_summed_df['DTP#'].isna().sum()



dtp_summed_df['cnty_vac_rate'] = dtp_summed_df['DTP#']/dtp_summed_df['ENROLLMENT'] * 100
# dtp_summed_df['ENROLLMENT'] = dtp_summed_df["ENROLLMENT"].astype(int)
# dtp_summed_df['ENROLLMENT'].isnull().sum()
# dtp_summed_df[dtp_summed_df['DTP#'] == '']['DTP#'].sum()
# df.dropna(subset=['Tenant'], inplace=True)


# dtp_summed_df.head()

# for year, new_df in dtp_summed_df.groupby(level=1):
#     for county in new_df.groupby(level=0):
#         for row in county:
#             print(row)
#             print("")

dtp_summed_df.head(10)
dtp_summed_df.shap

(926, 3)

In [ ]:
pop_df = pd.read_csv()