# Retrieve and Process Census Data for Pertussis Analysis

In [161]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states
from pprint import pprint
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff

# Census API Key
from config import api_key

# Plotly credentials
# plotly.tools.set_credentials_file(username='chelmo', api_key=plotly_key)

#from apikeys import CENSUS_API_KEY
c10 = Census(api_key, year=2010)
c11 = Census(api_key, year=2011)
c12 = Census(api_key, year=2012)
c13 = Census(api_key, year=2013)
c14 = Census(api_key, year=2014)
c15 = Census(api_key, year=2015)
c16 = Census(api_key, year=2016)

## Run census data and include the following codes:

"B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"

In [162]:
# Run Census Search to retrieve county-level data for 2010
census_data_10 = c10.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_10_pd = pd.DataFrame(census_data_10)

#Reorder and rename columns
census_10_pd = census_10_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_10_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,250699.0,11511.0,11200.0,11359.0,7360.0,10870.0,10802.0,10655.0,6856.0,62201.0,...,2798.0,347.0,63.0,159.0,48875.0,21085.0,27790.0,"Merced County, California",047,06
1,9605.0,262.0,277.0,334.0,213.0,250.0,319.0,307.0,167.0,634.0,...,77.0,15.0,43.0,0.0,1617.0,631.0,986.0,"Modoc County, California",049,06
2,13905.0,413.0,143.0,654.0,354.0,500.0,428.0,353.0,127.0,2564.0,...,146.0,0.0,0.0,0.0,1658.0,454.0,1204.0,"Mono County, California",051,06
3,407435.0,16683.0,14707.0,15142.0,9700.0,15861.0,14456.0,13739.0,9201.0,122788.0,...,3930.0,620.0,97.0,296.0,50330.0,19907.0,30423.0,"Monterey County, California",053,06
4,134051.0,4191.0,4566.0,4322.0,2887.0,3842.0,3897.0,4746.0,2779.0,30160.0,...,607.0,250.0,125.0,51.0,12449.0,3697.0,8752.0,"Napa County, California",055,06

## Process DataFrame

Use raw DataFrame to create new DF with the following columns:
* Total population
* % of population that is foreign born
* % of population that moved from overseas in past year
* Birthrate for previous year
* % of population that is school aged (5-17)
* Average household size
* % of school aged population not enrolled in public or private school
* % of school aged population below the poverty line

In [163]:
# Save raw DF as backup
census_10_pd.to_csv("10_raw_data.csv", encoding="utf-8", index=False)

In [164]:
# Check column types
census_10_pd.dtypes

Total Pop                                         float64
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [165]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_10_pd['% Foreign Born'] = census_10_pd['# Foreign Born'] / census_10_pd['Total Pop']*100
census_10_pd['% Foreign Born'].head()

0    24.811028
1     6.600729
2    18.439410
3    30.136832
4    22.498900
Name: % Foreign Born, dtype: float64

In [166]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_10_pd['% Overseas Move Past Year'] = census_10_pd['Overseas Move Past Year'] / census_10_pd['Total Pop']*100
census_10_pd['% Overseas Move Past Year'].head()

0    0.246910
1    0.000000
2    0.640058
3    0.921865
4    0.928751
Name: % Overseas Move Past Year, dtype: float64

In [167]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_10_pd['Birthrate Past Year'] = (census_10_pd["Women 15-50 Who've Given Birth"] / census_10_pd['Total Female Population'])*100
census_10_pd['Birthrate Past Year'].head()

0    8.157812
1    5.335534
2    2.052350
3    6.379867
4    5.881788
Name: Birthrate Past Year, dtype: float64

In [168]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_10_pd['Total School Pop']=census_10_pd['Male Public Age 3-4']+census_10_pd['Female Public Age 3-4']+census_10_pd['Male Public Age 5-9']+census_10_pd['Female Public Age 5-9']+census_10_pd['Male Public Age 10-14']+census_10_pd['Female Public Age 10-14']+census_10_pd['Male Public Age 15-17']+census_10_pd['Male Public Age 15-17']+ \
    census_10_pd['Male Private Age 3-4']+census_10_pd['Female Private Age 3-4']+census_10_pd['Male Private Age 5-9']+census_10_pd['Female Private Age 5-9']+census_10_pd['Male Private Age 10-14']+census_10_pd['Female Private Age 10-14']+census_10_pd['Male Private Age 15-17']+census_10_pd['Male Private Age 15-17']+ \
    census_10_pd['Male Not Enrolled Age 3-4']+census_10_pd['Female Not Enrolled Age 3-4']+census_10_pd['Male Not Enrolled Age 5-9']+census_10_pd['Female Not Enrolled Age 5-9']+census_10_pd['Male Not Enrolled Age 10-14']+census_10_pd['Female Not Enrolled Age 10-14']+census_10_pd['Male Not Enrolled Age 15-17']+census_10_pd['Male Not Enrolled Age 15-17']

census_10_pd['Total School Pop'].head()
# Pull % of population that is school aged:
# Total School Population / Total Pop
census_10_pd['% School Aged'] = census_10_pd['Total School Pop'] / census_10_pd['Total Pop']*100
census_10_pd['% School Aged'].head()

0    26.901982
1    20.041645
2    19.144193
3    22.258274
4    19.728312
Name: % School Aged, dtype: float64

In [169]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_10_pd['Ave HH Size'] = (1*(census_10_pd['1-person Fam HH']+census_10_pd['1-person non-Fam HH'])+2*(census_10_pd['2-person Fam HH']+census_10_pd['2-person non-Fam HH'])+3*(census_10_pd['3-person Fam HH']+census_10_pd['3-person non-Fam HH'])+4*(census_10_pd['4-person Fam HH']+census_10_pd['4-person non-Fam HH'])+5*(census_10_pd['5-person Fam HH']+census_10_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_10_pd['6-person non-Fam HH'])+7*(census_10_pd['7+-person Fam HH']+census_10_pd['7+-person non-Fam HH']))/(census_10_pd['Total Fam HH'] + census_10_pd['Total non-Fam HH'])
census_10_pd['Ave HH Size'].head()

0    3.202760
1    2.154720
2    2.160188
3    2.830233
4    2.445088
Name: Ave HH Size, dtype: float64

In [170]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_10_pd['% Not Enrolled'] = census_10_pd['Total Male Not Enrolled'] + census_10_pd['Total Female Not Enrolled'] / census_10_pd['Total School Pop']*100
census_10_pd['% Not Enrolled'].head()

0     79339.182347
1      3868.818182
2      5906.093914
3    143009.584730
4     48270.446948
Name: % Not Enrolled, dtype: float64

In [171]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_10_pd['% School-Aged Below Poverty Line'] = census_10_pd['Total Below Poverty Level Ages 3+'] / census_10_pd['Total School Pop']*100
census_10_pd['% School-Aged Below Poverty Line'].head()

0    72.468603
1    84.000000
2    62.283997
3    55.497971
4    47.073281
Name: % School-Aged Below Poverty Line, dtype: float64

In [172]:
# Assemble New DF for 2010
Y10_df = census_10_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y10_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Merced County, California",047,250699.0,24.811028,0.246910,8.157812,26.901982,3.202760,79339.182347,72.468603
1,"Modoc County, California",049,9605.0,6.600729,0.000000,5.335534,20.041645,2.154720,3868.818182,84.000000
2,"Mono County, California",051,13905.0,18.439410,0.640058,2.052350,19.144193,2.160188,5906.093914,62.283997
3,"Monterey County, California",053,407435.0,30.136832,0.921865,6.379867,22.258274,2.830233,143009.584730,55.497971
4,"Napa County, California",055,134051.0,22.498900,0.928751,5.881788,19.728312,2.445088,48270.446948,47.073281

In [173]:
# Print to pdf
Y10_df.to_csv("2010_final.csv", encoding="utf-8", index=False)

## 2011 Data

In [174]:
# Run Census Search to retrieve county-level data for 2010
census_data_11 = c11.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_11_pd = pd.DataFrame(census_data_11)

#Reorder and rename columns
census_11_pd = census_11_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_11_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1494876.0,50416.0,48704.0,45092.0,29804.0,47633.0,45276.0,44759.0,27947.0,459612.0,...,7675.0,1174.0,466.0,732.0,164754.0,64877.0,99877.0,"Alameda County, California",001,06
1,1167.0,47.0,38.0,11.0,30.0,30.0,68.0,28.0,32.0,54.0,...,8.0,0.0,0.0,0.0,170.0,100.0,70.0,"Alpine County, California",003,06
2,38244.0,609.0,772.0,1220.0,791.0,633.0,815.0,975.0,658.0,2232.0,...,149.0,0.0,0.0,8.0,3285.0,819.0,2466.0,"Amador County, California",005,06
3,219309.0,6155.0,6279.0,6716.0,4423.0,6115.0,5706.0,6585.0,4193.0,17216.0,...,1460.0,169.0,75.0,109.0,40060.0,19284.0,20776.0,"Butte County, California",007,06
4,45794.0,961.0,1164.0,1546.0,1047.0,939.0,1134.0,1243.0,1004.0,1991.0,...,219.0,150.0,22.0,21.0,3583.0,640.0,2943.0,"Calaveras County, California",009,06

In [175]:
# Save raw DF as backup
census_11_pd.to_csv("11_raw_data.csv", encoding="utf-8", index=False)

In [176]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_11_pd['% Foreign Born'] = census_11_pd['# Foreign Born'] / census_11_pd['Total Pop']*100
census_11_pd['% Foreign Born'].head()

0    30.745828
1     4.627249
2     5.836210
3     7.850111
4     4.347731
Name: % Foreign Born, dtype: float64

In [177]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_11_pd['% Overseas Move Past Year'] = census_11_pd['Overseas Move Past Year'] / census_11_pd['Total Pop']*100
census_11_pd['% Overseas Move Past Year'].head()

0    1.016606
1    2.656384
2    0.143813
3    0.451874
4    0.155042
Name: % Overseas Move Past Year, dtype: float64

In [178]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_11_pd['Birthrate Past Year'] = (census_11_pd["Women 15-50 Who've Given Birth"] / census_11_pd['Total Female Population'])*100
census_11_pd['Birthrate Past Year'].head()

0    4.970188
1    2.857143
2    3.469032
3    5.916491
4    2.810786
Name: Birthrate Past Year, dtype: float64

In [179]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_11_pd['Total School Pop']=census_11_pd['Male Public Age 3-4']+census_11_pd['Female Public Age 3-4']+census_11_pd['Male Public Age 5-9']+census_11_pd['Female Public Age 5-9']+census_11_pd['Male Public Age 10-14']+census_11_pd['Female Public Age 10-14']+census_11_pd['Male Public Age 15-17']+census_11_pd['Male Public Age 15-17']+ \
    census_11_pd['Male Private Age 3-4']+census_11_pd['Female Private Age 3-4']+census_11_pd['Male Private Age 5-9']+census_11_pd['Female Private Age 5-9']+census_11_pd['Male Private Age 10-14']+census_11_pd['Female Private Age 10-14']+census_11_pd['Male Private Age 15-17']+census_11_pd['Male Private Age 15-17']+ \
    census_11_pd['Male Not Enrolled Age 3-4']+census_11_pd['Female Not Enrolled Age 3-4']+census_11_pd['Male Not Enrolled Age 5-9']+census_11_pd['Female Not Enrolled Age 5-9']+census_11_pd['Male Not Enrolled Age 10-14']+census_11_pd['Female Not Enrolled Age 10-14']+census_11_pd['Male Not Enrolled Age 15-17']+census_11_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_11_pd['% School Aged'] = census_11_pd['Total School Pop'] / census_11_pd['Total Pop']*100
census_11_pd['% School Aged'].head()

0    18.940434
1    22.536418
2    15.591988
3    17.848333
4    17.495742
Name: % School Aged, dtype: float64

In [180]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_11_pd['Ave HH Size'] = (1*(census_11_pd['1-person Fam HH']+census_11_pd['1-person non-Fam HH'])+2*(census_11_pd['2-person Fam HH']+census_11_pd['2-person non-Fam HH'])+3*(census_11_pd['3-person Fam HH']+census_11_pd['3-person non-Fam HH'])+4*(census_11_pd['4-person Fam HH']+census_11_pd['4-person non-Fam HH'])+5*(census_11_pd['5-person Fam HH']+census_11_pd['5-person non-Fam HH'])+6*(census_11_pd['6-person Fam HH']+census_11_pd['6-person non-Fam HH'])+7*(census_11_pd['7+-person Fam HH']+census_11_pd['7+-person non-Fam HH']))/(census_11_pd['Total Fam HH'] + census_11_pd['Total non-Fam HH'])
census_11_pd['Ave HH Size'].head()

0    2.367277
1    2.073620
2    2.233152
3    2.169194
4    2.271606
Name: Ave HH Size, dtype: float64

In [181]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_11_pd['% Not Enrolled'] = census_11_pd['Total Male Not Enrolled'] + census_11_pd['Total Female Not Enrolled'] / census_11_pd['Total School Pop']*100
census_11_pd['% Not Enrolled'].head()

0    503260.965529
1       546.292776
2     16673.597350
3     71564.765373
4     17995.030954
Name: % Not Enrolled, dtype: float64

In [182]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_11_pd['% School-Aged Below Poverty Line'] = census_11_pd['Total Below Poverty Level Ages 3+'] / census_11_pd['Total School Pop']*100
census_11_pd['% School-Aged Below Poverty Line'].head()

0     58.188998
1     64.638783
2     55.089720
3    102.342692
4     44.720419
Name: % School-Aged Below Poverty Line, dtype: float64

In [183]:
# Assemble New DF for 2010
Y11_df = census_11_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y11_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1494876.0,30.745828,1.016606,4.970188,18.940434,2.367277,503260.965529,58.188998
1,"Alpine County, California",003,1167.0,4.627249,2.656384,2.857143,22.536418,2.073620,546.292776,64.638783
2,"Amador County, California",005,38244.0,5.836210,0.143813,3.469032,15.591988,2.233152,16673.597350,55.089720
3,"Butte County, California",007,219309.0,7.850111,0.451874,5.916491,17.848333,2.169194,71564.765373,102.342692
4,"Calaveras County, California",009,45794.0,4.347731,0.155042,2.810786,17.495742,2.271606,17995.030954,44.720419

In [184]:
# Print to pdf
Y11_df.to_csv("2011_final.csv", encoding="utf-8", index=False)

## 2012 Data

In [185]:
# Run Census Search to retrieve county-level data for 2010
census_data_12 = c12.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_12_pd = pd.DataFrame(census_data_12)

#Reorder and rename columns
census_12_pd = census_12_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_12_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1515136.0,50465.0,49105.0,45485.0,29436.0,47720.0,45923.0,44899.0,27830.0,463896.0,...,7700.0,1109.0,359.0,526.0,170434.0,66598.0,103836.0,"Alameda County, California",001,06
1,1197.0,57.0,47.0,24.0,36.0,3.0,49.0,19.0,35.0,57.0,...,3.0,3.0,0.0,0.0,159.0,60.0,99.0,"Alpine County, California",003,06
2,37764.0,556.0,868.0,964.0,796.0,789.0,838.0,881.0,635.0,2148.0,...,211.0,0.0,0.0,10.0,3435.0,818.0,2617.0,"Amador County, California",005,06
3,220101.0,6240.0,6374.0,6553.0,4378.0,6100.0,5656.0,6658.0,4080.0,17140.0,...,1423.0,177.0,46.0,131.0,41942.0,19274.0,22668.0,"Butte County, California",007,06
4,45507.0,939.0,1252.0,1390.0,1050.0,899.0,1086.0,1236.0,913.0,1961.0,...,256.0,143.0,14.0,72.0,4446.0,955.0,3491.0,"Calaveras County, California",009,06

In [186]:
# Save raw DF as backup
census_12_pd.to_csv("12_raw_data.csv", encoding="utf-8", index=False)

In [187]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_12_pd['% Foreign Born'] = census_12_pd['# Foreign Born'] / census_12_pd['Total Pop']*100
census_12_pd['% Foreign Born'].head()

0    30.617450
1     4.761905
2     5.687957
3     7.787334
4     4.309227
Name: % Foreign Born, dtype: float64

In [188]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_12_pd['% Overseas Move Past Year'] = census_12_pd['Overseas Move Past Year'] / census_12_pd['Total Pop']*100
census_12_pd['% Overseas Move Past Year'].head()

0    0.952324
1    1.837928
2    0.158881
3    0.376645
4    0.153822
Name: % Overseas Move Past Year, dtype: float64

In [189]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_12_pd['Birthrate Past Year'] = (census_12_pd["Women 15-50 Who've Given Birth"] / census_12_pd['Total Female Population'])*100
census_12_pd['Birthrate Past Year'].head()

0    5.053942
1    0.000000
2    2.285904
3    5.945159
4    2.390815
Name: Birthrate Past Year, dtype: float64

In [190]:
# Create Total School Population from age groups in each enrollment category for 3+
census_12_pd['Total School Pop']=census_12_pd['Male Public Age 3-4']+census_12_pd['Female Public Age 3-4']+census_12_pd['Male Public Age 5-9']+census_12_pd['Female Public Age 5-9']+census_12_pd['Male Public Age 10-14']+census_12_pd['Female Public Age 10-14']+census_12_pd['Male Public Age 15-17']+census_12_pd['Male Public Age 15-17']+ \
    census_12_pd['Male Private Age 3-4']+census_12_pd['Female Private Age 3-4']+census_12_pd['Male Private Age 5-9']+census_12_pd['Female Private Age 5-9']+census_12_pd['Male Private Age 10-14']+census_12_pd['Female Private Age 10-14']+census_12_pd['Male Private Age 15-17']+census_12_pd['Male Private Age 15-17']+ \
    census_12_pd['Male Not Enrolled Age 3-4']+census_12_pd['Female Not Enrolled Age 3-4']+census_12_pd['Male Not Enrolled Age 5-9']+census_12_pd['Female Not Enrolled Age 5-9']+census_12_pd['Male Not Enrolled Age 10-14']+census_12_pd['Female Not Enrolled Age 10-14']+census_12_pd['Male Not Enrolled Age 15-17']+census_12_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_12_pd['% School Aged'] = census_12_pd['Total School Pop'] / census_12_pd['Total Pop']*100
census_12_pd['% School Aged'].head()

0    18.739572
1    22.138680
2    15.432687
3    17.686880
4    17.245698
Name: % School Aged, dtype: float64

In [191]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_12_pd['Ave HH Size'] = (1*(census_12_pd['1-person Fam HH']+census_12_pd['1-person non-Fam HH'])+2*(census_12_pd['2-person Fam HH']+census_12_pd['2-person non-Fam HH'])+3*(census_12_pd['3-person Fam HH']+census_12_pd['3-person non-Fam HH'])+4*(census_12_pd['4-person Fam HH']+census_12_pd['4-person non-Fam HH'])+5*(census_12_pd['5-person Fam HH']+census_12_pd['5-person non-Fam HH'])+6*(census_12_pd['6-person Fam HH']+census_12_pd['6-person non-Fam HH'])+7*(census_12_pd['7+-person Fam HH']+census_12_pd['7+-person non-Fam HH']))/(census_12_pd['Total Fam HH'] + census_12_pd['Total non-Fam HH'])
census_12_pd['Ave HH Size'].head()

0    2.382956
1    2.228846
2    2.234087
3    2.144603
4    2.313641
Name: Ave HH Size, dtype: float64

In [192]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_12_pd['% Not Enrolled'] = census_12_pd['Total Male Not Enrolled'] + census_12_pd['Total Female Not Enrolled'] / census_12_pd['Total School Pop']*100
census_12_pd['% Not Enrolled'].head()

0    509200.482126
1       597.377358
2     16524.598490
3     73009.579542
4     17806.006116
Name: % Not Enrolled, dtype: float64

In [193]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_12_pd['% School-Aged Below Poverty Line'] = census_12_pd['Total Below Poverty Level Ages 3+'] / census_12_pd['Total School Pop']*100
census_12_pd['% School-Aged Below Poverty Line'].head()

0     60.026767
1     60.000000
2     58.939602
3    107.739731
4     56.651376
Name: % School-Aged Below Poverty Line, dtype: float64

In [194]:
# Assemble New DF for 2010
Y12_df = census_12_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y12_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1515136.0,30.617450,0.952324,5.053942,18.739572,2.382956,509200.482126,60.026767
1,"Alpine County, California",003,1197.0,4.761905,1.837928,0.000000,22.138680,2.228846,597.377358,60.000000
2,"Amador County, California",005,37764.0,5.687957,0.158881,2.285904,15.432687,2.234087,16524.598490,58.939602
3,"Butte County, California",007,220101.0,7.787334,0.376645,5.945159,17.686880,2.144603,73009.579542,107.739731
4,"Calaveras County, California",009,45507.0,4.309227,0.153822,2.390815,17.245698,2.313641,17806.006116,56.651376

In [195]:
# Print to pdf
Y12_df.to_csv("2012_final.csv", encoding="utf-8", index=False)

## 2013 Data

In [196]:
# Run Census Search to retrieve county-level data for 2010
census_data_13 = c13.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_13_pd = pd.DataFrame(census_data_13)

#Reorder and rename columns
census_13_pd = census_13_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_13_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1535248.0,50010.0,49228.0,46352.0,29101.0,47512.0,45754.0,45788.0,27569.0,472461.0,...,8407.0,1206.0,375.0,490.0,180209.0,69905.0,110304.0,"Alameda County, California",001,06
1,1165.0,43.0,65.0,31.0,28.0,0.0,47.0,11.0,29.0,44.0,...,0.0,3.0,0.0,0.0,184.0,82.0,102.0,"Alpine County, California",003,06
2,37422.0,508.0,895.0,864.0,767.0,782.0,806.0,870.0,574.0,2135.0,...,233.0,0.0,8.0,0.0,3956.0,1164.0,2792.0,"Amador County, California",005,06
3,220542.0,6230.0,6301.0,6588.0,4261.0,6015.0,5879.0,6484.0,4003.0,16511.0,...,1514.0,239.0,65.0,100.0,42059.0,19082.0,22977.0,"Butte County, California",007,06
4,45147.0,880.0,1398.0,1236.0,1048.0,966.0,976.0,1273.0,833.0,1899.0,...,242.0,96.0,0.0,85.0,4745.0,977.0,3768.0,"Calaveras County, California",009,06

In [197]:
# Save raw DF as backup
census_13_pd.to_csv("13_raw_data.csv", encoding="utf-8", index=False)

In [198]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_13_pd['% Foreign Born'] = census_13_pd['# Foreign Born'] / census_13_pd['Total Pop']*100
census_13_pd['% Foreign Born'].head()

0    30.774246
1     3.776824
2     5.705200
3     7.486556
4     4.206260
Name: % Foreign Born, dtype: float64

In [199]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_13_pd['% Overseas Move Past Year'] = census_13_pd['Overseas Move Past Year'] / census_13_pd['Total Pop']*100
census_13_pd['% Overseas Move Past Year'].head()

0    0.982903
1    1.373391
2    0.117578
3    0.392216
4    0.239219
Name: % Overseas Move Past Year, dtype: float64

In [200]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_13_pd['Birthrate Past Year'] = (census_13_pd["Women 15-50 Who've Given Birth"] / census_13_pd['Total Female Population'])*100
census_13_pd['Birthrate Past Year'].head()

0    4.854952
1    0.000000
2    3.099593
3    5.709451
4    2.653259
Name: Birthrate Past Year, dtype: float64

In [201]:
# Create Total School Population from age groups in each enrollment category for 3+
census_13_pd['Total School Pop']=census_13_pd['Male Public Age 3-4']+census_13_pd['Female Public Age 3-4']+census_13_pd['Male Public Age 5-9']+census_13_pd['Female Public Age 5-9']+census_13_pd['Male Public Age 10-14']+census_13_pd['Female Public Age 10-14']+census_13_pd['Male Public Age 15-17']+census_13_pd['Male Public Age 15-17']+ \
    census_13_pd['Male Private Age 3-4']+census_13_pd['Female Private Age 3-4']+census_13_pd['Male Private Age 5-9']+census_13_pd['Female Private Age 5-9']+census_13_pd['Male Private Age 10-14']+census_13_pd['Female Private Age 10-14']+census_13_pd['Male Private Age 15-17']+census_13_pd['Male Private Age 15-17']+ \
    census_13_pd['Male Not Enrolled Age 3-4']+census_13_pd['Female Not Enrolled Age 3-4']+census_13_pd['Male Not Enrolled Age 5-9']+census_13_pd['Female Not Enrolled Age 5-9']+census_13_pd['Male Not Enrolled Age 10-14']+census_13_pd['Female Not Enrolled Age 10-14']+census_13_pd['Male Not Enrolled Age 15-17']+census_13_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_13_pd['% School Aged'] = census_13_pd['Total School Pop'] / census_13_pd['Total Pop']*100
census_13_pd['% School Aged'].head()

0    18.574849
1    20.772532
2    14.929720
3    17.624761
4    17.073117
Name: % School Aged, dtype: float64

In [202]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_13_pd['Ave HH Size'] = (1*(census_13_pd['1-person Fam HH']+census_13_pd['1-person non-Fam HH'])+2*(census_13_pd['2-person Fam HH']+census_13_pd['2-person non-Fam HH'])+3*(census_13_pd['3-person Fam HH']+census_13_pd['3-person non-Fam HH'])+4*(census_13_pd['4-person Fam HH']+census_13_pd['4-person non-Fam HH'])+5*(census_13_pd['5-person Fam HH']+census_13_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_13_pd['6-person non-Fam HH'])+7*(census_13_pd['7+-person Fam HH']+census_13_pd['7+-person non-Fam HH']))/(census_13_pd['Total Fam HH'] + census_13_pd['Total non-Fam HH'])
census_13_pd['Ave HH Size'].head()

0    2.318362
1    3.272381
2    2.171167
3    2.345101
4    2.607168
Name: Ave HH Size, dtype: float64

In [203]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_13_pd['% Not Enrolled'] = census_13_pd['Total Male Not Enrolled'] + census_13_pd['Total Female Not Enrolled'] / census_13_pd['Total School Pop']*100
census_13_pd['% Not Enrolled'].head()

0    518851.732545
1       648.495868
2     16319.719527
3     73884.894263
4     17697.800208
Name: % Not Enrolled, dtype: float64

In [204]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_13_pd['% School-Aged Below Poverty Line'] = census_13_pd['Total Below Poverty Level Ages 3+'] / census_13_pd['Total School Pop']*100
census_13_pd['% School-Aged Below Poverty Line'].head()

0     63.193534
1     76.033058
2     70.807231
3    108.204271
4     61.559419
Name: % School-Aged Below Poverty Line, dtype: float64

In [205]:
# Assemble New DF for 2010
Y13_df = census_13_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y13_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1535248.0,30.774246,0.982903,4.854952,18.574849,2.318362,518851.732545,63.193534
1,"Alpine County, California",003,1165.0,3.776824,1.373391,0.000000,20.772532,3.272381,648.495868,76.033058
2,"Amador County, California",005,37422.0,5.705200,0.117578,3.099593,14.929720,2.171167,16319.719527,70.807231
3,"Butte County, California",007,220542.0,7.486556,0.392216,5.709451,17.624761,2.345101,73884.894263,108.204271
4,"Calaveras County, California",009,45147.0,4.206260,0.239219,2.653259,17.073117,2.607168,17697.800208,61.559419

In [206]:
# Print to pdf
Y13_df.to_csv("2013_final.csv", encoding="utf-8", index=False)

## 2014 Data

In [207]:
# Run Census Search to retrieve county-level data for 2010
census_data_14 = c14.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_14_pd = pd.DataFrame(census_data_14)

#Reorder and rename columns
census_14_pd = census_14_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_14_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,9974203.0,329505.0,321435.0,332447.0,216131.0,315133.0,307706.0,318660.0,206583.0,3484350.0,...,60342.0,9176.0,3913.0,4973.0,1706375.0,657132.0,1049243.0,"Los Angeles County, California",037,06
1,152452.0,5879.0,5992.0,6006.0,3729.0,5909.0,6315.0,5574.0,3431.0,33159.0,...,1685.0,157.0,24.0,164.0,30188.0,11412.0,18776.0,"Madera County, California",039,06
2,256802.0,6776.0,8044.0,7656.0,4337.0,6477.0,7499.0,7745.0,4282.0,48477.0,...,817.0,211.0,91.0,91.0,21155.0,6919.0,14236.0,"Marin County, California",041,06
3,17946.0,339.0,502.0,360.0,267.0,358.0,374.0,545.0,350.0,1013.0,...,101.0,12.0,0.0,19.0,2818.0,800.0,2018.0,"Mariposa County, California",043,06
4,87612.0,2659.0,2939.0,2613.0,1804.0,2494.0,2515.0,2618.0,1574.0,11707.0,...,516.0,51.0,3.0,44.0,16578.0,5145.0,11433.0,"Mendocino County, California",045,06

In [208]:
# Save raw DF as backup
census_14_pd.to_csv("14_raw_data.csv", encoding="utf-8", index=False)

In [209]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_14_pd['% Foreign Born'] = census_14_pd['# Foreign Born'] / census_14_pd['Total Pop']*100
census_14_pd['% Foreign Born'].head()

0    34.933618
1    21.750453
2    18.877189
3     5.644712
4    13.362325
Name: % Foreign Born, dtype: float64

In [210]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_14_pd['% Overseas Move Past Year'] = census_14_pd['Overseas Move Past Year'] / census_14_pd['Total Pop']*100
census_14_pd['% Overseas Move Past Year'].head()

0    0.696567
1    0.342403
2    0.806847
3    0.278614
4    0.286490
Name: % Overseas Move Past Year, dtype: float64

In [211]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_14_pd['Birthrate Past Year'] = (census_14_pd["Women 15-50 Who've Given Birth"] / census_14_pd['Total Female Population'])*100
census_14_pd['Birthrate Past Year'].head()

0    4.845628
1    6.499315
2    4.872746
3    7.576669
4    5.672889
Name: Birthrate Past Year, dtype: float64

In [212]:
# Create Total School Population from age groups in each enrollment category for 3+
census_14_pd['Total School Pop']=census_14_pd['Male Public Age 3-4']+census_14_pd['Female Public Age 3-4']+census_14_pd['Male Public Age 5-9']+census_14_pd['Female Public Age 5-9']+census_14_pd['Male Public Age 10-14']+census_14_pd['Female Public Age 10-14']+census_14_pd['Male Public Age 15-17']+census_14_pd['Male Public Age 15-17']+ \
    census_14_pd['Male Private Age 3-4']+census_14_pd['Female Private Age 3-4']+census_14_pd['Male Private Age 5-9']+census_14_pd['Female Private Age 5-9']+census_14_pd['Male Private Age 10-14']+census_14_pd['Female Private Age 10-14']+census_14_pd['Male Private Age 15-17']+census_14_pd['Male Private Age 15-17']+ \
    census_14_pd['Male Not Enrolled Age 3-4']+census_14_pd['Female Not Enrolled Age 3-4']+census_14_pd['Male Not Enrolled Age 5-9']+census_14_pd['Female Not Enrolled Age 5-9']+census_14_pd['Male Not Enrolled Age 10-14']+census_14_pd['Female Not Enrolled Age 10-14']+census_14_pd['Male Not Enrolled Age 15-17']+census_14_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_14_pd['% School Aged'] = census_14_pd['Total School Pop'] / census_14_pd['Total Pop']*100
census_14_pd['% School Aged'].head()

0    19.879644
1    23.587752
2    17.812945
3    14.120138
4    18.741725
Name: % School Aged, dtype: float64

In [213]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_14_pd['Ave HH Size'] = (1*(census_14_pd['1-person Fam HH']+census_14_pd['1-person non-Fam HH'])+2*(census_14_pd['2-person Fam HH']+census_14_pd['2-person non-Fam HH'])+3*(census_14_pd['3-person Fam HH']+census_14_pd['3-person non-Fam HH'])+4*(census_14_pd['4-person Fam HH']+census_14_pd['4-person non-Fam HH'])+5*(census_14_pd['5-person Fam HH']+census_14_pd['5-person non-Fam HH'])+6*(census_14_pd['6-person Fam HH']+census_14_pd['6-person non-Fam HH'])+7*(census_14_pd['7+-person Fam HH']+census_14_pd['7+-person non-Fam HH']))/(census_14_pd['Total Fam HH'] + census_14_pd['Total non-Fam HH'])
census_14_pd['Ave HH Size'].head()

0    2.593119
1    3.154386
2    2.140040
3    2.195079
4    2.107468
Name: Ave HH Size, dtype: float64

In [214]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_14_pd['% Not Enrolled'] = census_14_pd['Total Male Not Enrolled'] + census_14_pd['Total Female Not Enrolled'] / census_14_pd['Total School Pop']*100
census_14_pd['% Not Enrolled'].head()

0    3.347317e+06
1    4.941720e+04
2    9.229244e+04
3    7.621442e+03
4    3.291054e+04
Name: % Not Enrolled, dtype: float64

In [215]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_14_pd['% School-Aged Below Poverty Line'] = census_14_pd['Total Below Poverty Level Ages 3+'] / census_14_pd['Total School Pop']*100
census_14_pd['% School-Aged Below Poverty Line'].head()

0     86.057294
1     83.948832
2     46.246502
3    111.207577
4    100.962241
Name: % School-Aged Below Poverty Line, dtype: float64

In [216]:
# Assemble New DF for 2010
Y14_df = census_14_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y14_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Los Angeles County, California",037,9974203.0,34.933618,0.696567,4.845628,19.879644,2.593119,3.347317e+06,86.057294
1,"Madera County, California",039,152452.0,21.750453,0.342403,6.499315,23.587752,3.154386,4.941720e+04,83.948832
2,"Marin County, California",041,256802.0,18.877189,0.806847,4.872746,17.812945,2.140040,9.229244e+04,46.246502
3,"Mariposa County, California",043,17946.0,5.644712,0.278614,7.576669,14.120138,2.195079,7.621442e+03,111.207577
4,"Mendocino County, California",045,87612.0,13.362325,0.286490,5.672889,18.741725,2.107468,3.291054e+04,100.962241

In [217]:
# Print to pdf
Y14_df.to_csv("2014_final.csv", encoding="utf-8", index=False)

## 2015 Data

In [218]:
# Run Census Search to retrieve county-level data for 2010
census_data_15 = c15.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_15_pd = pd.DataFrame(census_data_15)

#Reorder and rename columns
census_15_pd = census_15_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_15_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1584983.0,49806.0,50042.0,47021.0,28378.0,47807.0,46688.0,46436.0,27131.0,497014.0,...,8225.0,1272.0,374.0,480.0,186221.0,71488.0,114733.0,"Alameda County, California",001,06
1,1131.0,29.0,52.0,29.0,52.0,10.0,26.0,25.0,28.0,38.0,...,0.0,2.0,0.0,0.0,195.0,30.0,165.0,"Alpine County, California",003,06
2,36995.0,646.0,900.0,736.0,649.0,652.0,751.0,901.0,502.0,2046.0,...,145.0,4.0,8.0,0.0,3990.0,1224.0,2766.0,"Amador County, California",005,06
3,222564.0,6241.0,6406.0,6455.0,4135.0,5914.0,6316.0,6086.0,3869.0,16961.0,...,1253.0,277.0,79.0,73.0,45859.0,20263.0,25596.0,"Butte County, California",007,06
4,44767.0,730.0,1407.0,1005.0,1000.0,1073.0,1047.0,1151.0,777.0,2324.0,...,315.0,90.0,21.0,107.0,5451.0,1071.0,4380.0,"Calaveras County, California",009,06

In [219]:
# Save raw DF as backup
census_15_pd.to_csv("15_raw_data.csv", encoding="utf-8", index=False)

In [220]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_15_pd['% Foreign Born'] = census_15_pd['# Foreign Born'] / census_15_pd['Total Pop']*100
census_15_pd['% Foreign Born'].head()

0    31.357686
1     3.359859
2     5.530477
3     7.620729
4     5.191324
Name: % Foreign Born, dtype: float64

In [221]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_15_pd['% Overseas Move Past Year'] = census_15_pd['Overseas Move Past Year'] / census_15_pd['Total Pop']*100
census_15_pd['% Overseas Move Past Year'].head()

0    1.126637
1    1.326260
2    0.186512
3    0.353157
4    0.163067
Name: % Overseas Move Past Year, dtype: float64

In [222]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_15_pd['Birthrate Past Year'] = (census_15_pd["Women 15-50 Who've Given Birth"] / census_15_pd['Total Female Population'])*100
census_15_pd['Birthrate Past Year'].head()

0    5.014712
1    2.463054
2    3.698559
3    5.545832
4    2.851375
Name: Birthrate Past Year, dtype: float64

In [223]:
# Create Total School Population from age groups in each enrollment category for 3+
census_15_pd['Total School Pop']=census_15_pd['Male Public Age 3-4']+census_15_pd['Female Public Age 3-4']+census_15_pd['Male Public Age 5-9']+census_15_pd['Female Public Age 5-9']+census_15_pd['Male Public Age 10-14']+census_15_pd['Female Public Age 10-14']+census_15_pd['Male Public Age 15-17']+census_15_pd['Male Public Age 15-17']+ \
    census_15_pd['Male Private Age 3-4']+census_15_pd['Female Private Age 3-4']+census_15_pd['Male Private Age 5-9']+census_15_pd['Female Private Age 5-9']+census_15_pd['Male Private Age 10-14']+census_15_pd['Female Private Age 10-14']+census_15_pd['Male Private Age 15-17']+census_15_pd['Male Private Age 15-17']+ \
    census_15_pd['Male Not Enrolled Age 3-4']+census_15_pd['Female Not Enrolled Age 3-4']+census_15_pd['Male Not Enrolled Age 5-9']+census_15_pd['Female Not Enrolled Age 5-9']+census_15_pd['Male Not Enrolled Age 10-14']+census_15_pd['Female Not Enrolled Age 10-14']+census_15_pd['Male Not Enrolled Age 15-17']+census_15_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_15_pd['% School Aged'] = census_15_pd['Total School Pop'] / census_15_pd['Total Pop']*100
census_15_pd['% School Aged'].head()

0    18.049973
1    23.253758
2    13.631572
3    17.344674
4    16.293252
Name: % School Aged, dtype: float64

In [224]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_15_pd['Ave HH Size'] = (1*(census_15_pd['1-person Fam HH']+census_15_pd['1-person non-Fam HH'])+2*(census_15_pd['2-person Fam HH']+census_15_pd['2-person non-Fam HH'])+3*(census_15_pd['3-person Fam HH']+census_15_pd['3-person non-Fam HH'])+4*(census_15_pd['4-person Fam HH']+census_15_pd['4-person non-Fam HH'])+5*(census_15_pd['5-person Fam HH']+census_15_pd['5-person non-Fam HH'])+6*(census_15_pd['6-person Fam HH']+census_15_pd['6-person non-Fam HH'])+7*(census_15_pd['7+-person Fam HH']+census_15_pd['7+-person non-Fam HH']))/(census_15_pd['Total Fam HH'] + census_15_pd['Total non-Fam HH'])
census_15_pd['Ave HH Size'].head()

0    2.453636
1    2.162933
2    2.208261
3    2.107025
4    2.211503
Name: Ave HH Size, dtype: float64

In [225]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_15_pd['% Not Enrolled'] = census_15_pd['Total Male Not Enrolled'] + census_15_pd['Total Female Not Enrolled'] / census_15_pd['Total School Pop']*100
census_15_pd['% Not Enrolled'].head()

0    540835.596591
1       588.741445
2     15988.355146
3     75429.233298
4     17731.424184
Name: % Not Enrolled, dtype: float64

In [226]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_15_pd['% School-Aged Below Poverty Line'] = census_15_pd['Total Below Poverty Level Ages 3+'] / census_15_pd['Total School Pop']*100
census_15_pd['% School-Aged Below Poverty Line'].head()

0     65.091982
1     74.144487
2     79.119572
3    118.796467
4     74.732657
Name: % School-Aged Below Poverty Line, dtype: float64

In [227]:
# Assemble New DF for 2010
Y15_df = census_15_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y15_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1584983.0,31.357686,1.126637,5.014712,18.049973,2.453636,540835.596591,65.091982
1,"Alpine County, California",003,1131.0,3.359859,1.326260,2.463054,23.253758,2.162933,588.741445,74.144487
2,"Amador County, California",005,36995.0,5.530477,0.186512,3.698559,13.631572,2.208261,15988.355146,79.119572
3,"Butte County, California",007,222564.0,7.620729,0.353157,5.545832,17.344674,2.107025,75429.233298,118.796467
4,"Calaveras County, California",009,44767.0,5.191324,0.163067,2.851375,16.293252,2.211503,17731.424184,74.732657

In [228]:
# Print to pdf
Y15_df.to_csv("2015_final.csv", encoding="utf-8", index=False)

## 2016 Data

In [229]:
# Run Census Search to retrieve county-level data for 2010
census_data_16 = c16.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_16_pd = pd.DataFrame(census_data_16)

#Reorder and rename columns
census_16_pd = census_16_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+"
                                           })

census_16_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1605217,49865.0,50533.0,47232.0,28154.0,47707.0,46762.0,46917.0,27042.0,508761.0,...,8382.0,1290.0,386.0,549.0,181650.0,69287.0,112363.0,"Alameda County, California",001,06
1,1184,33.0,34.0,45.0,54.0,18.0,24.0,30.0,36.0,37.0,...,3.0,3.0,0.0,0.0,212.0,47.0,165.0,"Alpine County, California",003,06
2,36963,681.0,947.0,676.0,641.0,711.0,669.0,944.0,476.0,2254.0,...,196.0,4.0,9.0,15.0,3508.0,958.0,2550.0,"Amador County, California",005,06
3,223877,6353.0,6577.0,6312.0,4125.0,5867.0,6625.0,5830.0,3783.0,17501.0,...,1206.0,329.0,79.0,72.0,44981.0,20564.0,24417.0,"Butte County, California",007,06
4,44787,750.0,1452.0,900.0,941.0,1077.0,1099.0,1073.0,750.0,2653.0,...,203.0,97.0,25.0,86.0,5462.0,1174.0,4288.0,"Calaveras County, California",009,06

In [230]:
# Save raw DF as backup
census_16_pd.to_csv("16_raw_data.csv", encoding="utf-8", index=False)

In [231]:
census_16_pd.dtypes

Total Pop                                          object
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [232]:
census_16_pd['Total Pop'] = census_16_pd['Total Pop'].apply(pd.to_numeric, errors='coerce')
census_16_pd['Total Pop'].head()

0    1605217
1       1184
2      36963
3     223877
4      44787
Name: Total Pop, dtype: int64

In [233]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_16_pd['% Foreign Born'] = census_16_pd['# Foreign Born'] / census_16_pd['Total Pop']*100
census_16_pd['% Foreign Born'].head()

0    31.694220
1     3.125000
2     6.097990
3     7.817239
4     5.923594
Name: % Foreign Born, dtype: float64

In [234]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_16_pd['% Overseas Move Past Year'] = census_16_pd['Overseas Move Past Year'] / census_16_pd['Total Pop']*100
census_16_pd['% Overseas Move Past Year'].head()

0    1.240891
1    0.675676
2    0.135270
3    0.316692
4    0.154063
Name: % Overseas Move Past Year, dtype: float64

In [235]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_16_pd['Birthrate Past Year'] = (census_16_pd["Women 15-50 Who've Given Birth"] / census_16_pd['Total Female Population'])*100
census_16_pd['Birthrate Past Year'].head()

0    4.892694
1    5.050505
2    5.160611
3    4.934380
4    2.705128
Name: Birthrate Past Year, dtype: float64

In [236]:
# Create Total School Population from age groups in each enrollment category for 3+
census_16_pd['Total School Pop']=census_16_pd['Male Public Age 3-4']+census_16_pd['Female Public Age 3-4']+census_16_pd['Male Public Age 5-9']+census_16_pd['Female Public Age 5-9']+census_16_pd['Male Public Age 10-14']+census_16_pd['Female Public Age 10-14']+census_16_pd['Male Public Age 15-17']+census_16_pd['Male Public Age 15-17']+ \
    census_16_pd['Male Private Age 3-4']+census_16_pd['Female Private Age 3-4']+census_16_pd['Male Private Age 5-9']+census_16_pd['Female Private Age 5-9']+census_16_pd['Male Private Age 10-14']+census_16_pd['Female Private Age 10-14']+census_16_pd['Male Private Age 15-17']+census_16_pd['Male Private Age 15-17']+ \
    census_16_pd['Male Not Enrolled Age 3-4']+census_16_pd['Female Not Enrolled Age 3-4']+census_16_pd['Male Not Enrolled Age 5-9']+census_16_pd['Female Not Enrolled Age 5-9']+census_16_pd['Male Not Enrolled Age 10-14']+census_16_pd['Female Not Enrolled Age 10-14']+census_16_pd['Male Not Enrolled Age 15-17']+census_16_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_16_pd['% School Aged'] = census_16_pd['Total School Pop'] / census_16_pd['Total Pop']*100
census_16_pd['% School Aged'].head()

0    17.875340
1    22.972973
2    13.597381
3    17.332285
4    15.607207
Name: % School Aged, dtype: float64

In [237]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_16_pd['Ave HH Size'] = (1*(census_16_pd['1-person Fam HH']+census_16_pd['1-person non-Fam HH'])+2*(census_16_pd['2-person Fam HH']+census_16_pd['2-person non-Fam HH'])+3*(census_16_pd['3-person Fam HH']+census_16_pd['3-person non-Fam HH'])+4*(census_16_pd['4-person Fam HH']+census_16_pd['4-person non-Fam HH'])+5*(census_16_pd['5-person Fam HH']+census_16_pd['5-person non-Fam HH'])+6*(census_16_pd['6-person Fam HH']+census_16_pd['6-person non-Fam HH'])+7*(census_16_pd['7+-person Fam HH']+census_16_pd['7+-person non-Fam HH']))/(census_16_pd['Total Fam HH'] + census_16_pd['Total non-Fam HH'])
census_16_pd['Ave HH Size'].head()

0    2.477223
1    2.437778
2    2.240477
3    2.108413
4    2.255589
Name: Ave HH Size, dtype: float64

In [238]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_16_pd['% Not Enrolled'] = census_16_pd['Total Male Not Enrolled'] + census_16_pd['Total Female Not Enrolled'] / census_16_pd['Total School Pop']*100
census_16_pd['% Not Enrolled'].head()

0    550065.599300
1       615.573529
2     15909.169916
3     75632.770868
4     17929.542203
Name: % Not Enrolled, dtype: float64

In [239]:
# Pull % of school-aged population below the poverty line:
# Total Below Poverty Level Ages 3+ / Total School Population
census_16_pd['% School-Aged Below Poverty Line'] = census_16_pd['Total Below Poverty Level Ages 3+'] / census_16_pd['Total School Pop']*100
census_16_pd['% School-Aged Below Poverty Line'].head()

0     63.306359
1     77.941176
2     69.797055
3    115.921449
4     78.140200
Name: % School-Aged Below Poverty Line, dtype: float64

In [240]:
# Assemble New DF for 2010
Y16_df = census_16_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y16_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1605217,31.694220,1.240891,4.892694,17.875340,2.477223,550065.599300,63.306359
1,"Alpine County, California",003,1184,3.125000,0.675676,5.050505,22.972973,2.437778,615.573529,77.941176
2,"Amador County, California",005,36963,6.097990,0.135270,5.160611,13.597381,2.240477,15909.169916,69.797055
3,"Butte County, California",007,223877,7.817239,0.316692,4.934380,17.332285,2.108413,75632.770868,115.921449
4,"Calaveras County, California",009,44787,5.923594,0.154063,2.705128,15.607207,2.255589,17929.542203,78.140200

In [241]:
# Print to pdf
Y16_df.to_csv("2016_final.csv", encoding="utf-8", index=False)