In [1]:
import pandas as pd
import numpy as np

In [14]:
vac = pd.read_csv("data/2000-2015 CAKindergartenData.csv")

C:\Users\qcsbo\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (4,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
# Create new dataframe with info needed to calculat Perusiss vaccination rate for each county by year

dtp_df = vac[['Year', 'COUNTY', 'ENROLLMENT', 'DTP#']]
# dtp_df['cnty_vac_rate'] = 0
dtp_df.head()

   Year   COUNTY ENROLLMENT DTP#
0  2000  ALAMEDA         80   80
1  2000  ALAMEDA         86   86
2  2000  ALAMEDA        100   98
3  2000  ALAMEDA        103  102
4  2000  ALAMEDA        152  149

In [16]:
dtp_df[dtp_df["ENROLLMENT"] == " "]["ENROLLMENT"].count()

1366

In [17]:
dtp_df.shape

(117801, 4)

In [18]:
dtp_df = dtp_df[dtp_df["ENROLLMENT"] != " "]
dtp_df[dtp_df["ENROLLMENT"] == " "]["ENROLLMENT"].count()

dtp_df["ENROLLMENT"] = pd.to_numeric(dtp_df["ENROLLMENT"])
dtp_df.shape

(116435, 4)

In [19]:
dtp_df[dtp_df['DTP#'] == " "].count()
dtp_df['DTP#'] = pd.to_numeric(dtp_df['DTP#'])
# dtp_df.dtypes

In [20]:
# sum up enrollement and vaccination numbers by year and county

dtp_summed_df = dtp_df.groupby(['Year','COUNTY']).sum()
dtp_summed_df['cnty_vac_rate'] = 0
dtp_summed_df.head(10)

dtp_summed_df.shape

(926, 3)

In [111]:
# dtp_summed_df = dtp_summed_df.dropna()
# dtp_summed_df['DTP#'].isna().sum()



dtp_summed_df['cnty_vac_rate'] = dtp_summed_df['DTP#']/dtp_summed_df['ENROLLMENT'] * 100
# dtp_summed_df['ENROLLMENT'] = dtp_summed_df["ENROLLMENT"].astype(int)
# dtp_summed_df['ENROLLMENT'].isnull().sum()
# dtp_summed_df[dtp_summed_df['DTP#'] == '']['DTP#'].sum()
# df.dropna(subset=['Tenant'], inplace=True)


# dtp_summed_df.head()

# for year, new_df in dtp_summed_df.groupby(level=1):
#     for county in new_df.groupby(level=0):
#         for row in county:
#             print(row)
#             print("")

dtp_summed_df.head(10)
dtp_summed_df.to_csv("vac.csv")

In [173]:
pop_df = pd.read_csv("data/CA County Population Over Time All.csv", header=None)
pop_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,table with row headers in column A and column ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Area,NaN,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,California,"33,871,653","33,987,977","34,479,458","34,871,843","35,253,159","35,574,576","35,827,943","36,021,202","36,250,311",...,"36,961,229","37,254,518","37,327,690","37,672,654","38,019,006","38,347,383","38,701,278","39,032,444","39,296,476","39,459,622"
3,.Alameda County,"1,443,705","1,449,840","1,469,484","1,462,106","1,454,163","1,445,721","1,441,545","1,444,484","1,455,715",...,"1,498,539","1,510,261","1,513,402","1,532,215","1,556,648","1,582,936","1,611,572","1,637,141","1,653,236","1,663,190"
4,.Alpine County,"1,206","1,209","1,196","1,237","1,233","1,263","1,219","1,276","1,274",...,"1,197","1,175","1,161","1,093","1,110","1,127","1,084","1,088","1,057","1,120"

In [122]:
pop_df.index
pop_df.shape

(61, 21)

In [174]:
pop_df = pop_df[1:]

pop_df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
1,Geographic Area,NaN,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,California,"33,871,653","33,987,977","34,479,458","34,871,843","35,253,159","35,574,576","35,827,943","36,021,202","36,250,311",...,"36,961,229","37,254,518","37,327,690","37,672,654","38,019,006","38,347,383","38,701,278","39,032,444","39,296,476","39,459,622"
3,.Alameda County,"1,443,705","1,449,840","1,469,484","1,462,106","1,454,163","1,445,721","1,441,545","1,444,484","1,455,715",...,"1,498,539","1,510,261","1,513,402","1,532,215","1,556,648","1,582,936","1,611,572","1,637,141","1,653,236","1,663,190"
4,.Alpine County,"1,206","1,209","1,196","1,237","1,233","1,263","1,219","1,276","1,274",...,"1,197","1,175","1,161","1,093","1,110","1,127","1,084","1,088","1,057","1,120"
5,.Amador County,"35,101","35,153","35,697","36,561","36,994","37,400","38,040","38,353","38,756",...,"38,238","38,091","37,884","37,539","37,112","36,635","36,748","37,047","37,473","38,626"

In [175]:
pop_df.loc[0:1, 0] = "COUNTY"
pop_df.loc[0:1, 1] = '1999'
pop_df.iloc[0]
pop_df.columns = pop_df.iloc[0]
pop_df = pop_df[2:]
pop_df.head()

1,COUNTY,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,.Alameda County,"1,443,705","1,449,840","1,469,484","1,462,106","1,454,163","1,445,721","1,441,545","1,444,484","1,455,715",...,"1,498,539","1,510,261","1,513,402","1,532,215","1,556,648","1,582,936","1,611,572","1,637,141","1,653,236","1,663,190"
4,.Alpine County,"1,206","1,209","1,196","1,237","1,233","1,263","1,219","1,276","1,274",...,"1,197","1,175","1,161","1,093","1,110","1,127","1,084","1,088","1,057","1,120"
5,.Amador County,"35,101","35,153","35,697","36,561","36,994","37,400","38,040","38,353","38,756",...,"38,238","38,091","37,884","37,539","37,112","36,635","36,748","37,047","37,473","38,626"
6,.Butte County,"203,125","203,807","206,193","209,120","211,481","213,065","214,752","216,824","217,469",...,"219,777","220,002","219,957","220,003","220,969","221,768","223,629","224,818","226,525","229,294"
7,.Calaveras County,"40,535","40,645","41,304","42,380","43,755","44,530","45,295","46,045","46,268",...,"45,900","45,578","45,470","45,163","44,826","44,667","44,677","44,954","45,315","45,670"

In [176]:

pop_df.drop(["1999", "2016", "2017", "2018"],1 )

1,COUNTY,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
3,.Alameda County,"1,449,840","1,469,484","1,462,106","1,454,163","1,445,721","1,441,545","1,444,484","1,455,715","1,477,208","1,498,539","1,510,261","1,513,402","1,532,215","1,556,648","1,582,936","1,611,572"
4,.Alpine County,"1,209","1,196","1,237","1,233","1,263","1,219","1,276","1,274","1,202","1,197","1,175","1,161","1,093","1,110","1,127","1,084"
5,.Amador County,"35,153","35,697","36,561","36,994","37,400","38,040","38,353","38,756","38,248","38,238","38,091","37,884","37,539","37,112","36,635","36,748"
6,.Butte County,"203,807","206,193","209,120","211,481","213,065","214,752","216,824","217,469","219,034","219,777","220,002","219,957","220,003","220,969","221,768","223,629"
7,.Calaveras County,"40,645","41,304","42,380","43,755","44,530","45,295","46,045","46,268","46,265","45,900","45,578","45,470","45,163","44,826","44,667","44,677"
8,.Colusa County,"18,817","19,022","19,232","19,568","20,207","20,540","20,890","21,075","21,134","21,250","21,419","21,453","21,366","21,350","21,336","21,268"
9,.Contra Costa County,"952,810","970,952","979,862","987,531","992,424","999,013","1,000,834","1,009,152","1,023,344","1,037,890","1,049,200","1,052,799","1,066,182","1,079,093","1,095,310","1,110,971"
10,.Del Norte County,"27,440","27,292","27,397","27,601","27,950","28,281","28,211","28,415","28,496","28,599","28,610","28,566","28,447","28,203","27,830","27,206"
11,.El Dorado County,"157,162","161,101","165,195","168,331","171,653","175,003","176,773","177,694","179,150","180,455","181,058","181,149","180,975","180,680","181,618","183,333"
12,.Fresno County,"801,288","813,021","829,762","847,193","861,035","872,470","883,862","895,933","909,630","921,478","930,495","932,218","940,360","946,851","953,787","963,170"
13,.Glenn County,"26,416","26,450","26,651","27,016","27,122","27,393","27,652","27,775","28,019","28,100","28,122","28,130","28,160","27,894","27,866","27,909"
14,.Humboldt County,"126,462","127,520","128,780","129,754","130,702","131,497","132,093","132,001","132,657","133,744","134,623","135,019","135,239","134,596","134,444","134,584"
15,.Imperial County,"142,410","143,707","145,640","148,984","152,259","156,113","160,505","164,596","167,917","172,008","174,528","174,778","176,157","177,241","177,267","178,868"
16,.Inyo County,"17,955","18,117","18,394","18,593","18,578","18,478","18,370","18,426","18,318","18,544","18,546","18,517","18,401","18,370","18,377","18,340"
17,.Kern County,"663,803","676,574","694,059","714,272","736,296","760,726","784,511","803,281","818,327","830,137","839,621","841,116","848,767","855,237","864,014","871,895"
18,.Kings County,"129,835","132,881","135,369","139,393","143,601","145,147","147,712","150,420","152,027","152,278","152,982","152,404","152,030","151,265","150,675","149,862"
19,.Lake County,"58,538","60,219","61,513","62,496","63,116","63,811","64,202","64,077","64,392","64,413","64,665","64,742","64,273","64,005","63,855","64,113"
20,.Lassen County,"33,719","33,548","33,430","33,930","34,458","34,488","34,605","35,615","35,221","35,160","34,895","34,831","34,244","33,632","32,135","31,716"
21,.Los Angeles County,"9,538,191","9,626,034","9,705,913","9,767,145","9,793,263","9,786,373","9,737,955","9,700,359","9,735,147","9,787,400","9,818,696","9,824,490","9,885,998","9,956,152","10,018,604","10,072,695"
22,.Madera County,"123,587","125,581","128,369","132,738","137,106","140,313","143,622","146,067","148,359","149,234","150,843","151,037","151,876","151,900","151,819","154,103"
23,.Marin County,"247,520","247,866","246,225","245,054","243,769","244,206","244,580","246,248","248,398","250,862","252,419","252,940","255,505","256,381","258,856","261,007"
24,.Mariposa County,"17,101","17,099","17,243","17,707","17,844","17,972","18,219","18,366","18,412","18,212","18,250","18,280","18,174","17,893","17,820","17,730"
25,.Mendocino County,"86,407","86,841","87,364","88,140","88,030","87,981","87,345","87,071","87,468","87,722","87,840","87,799","87,367","87,376","87,164","87,375"
26,.Merced County,"212,258","218,816","225,351","231,735","237,180","242,554","245,338","248,540","250,538","252,302","255,798","256,772","259,607","261,407","262,712","265,281"
27,.Modoc County,"9,406","9,350","9,362","9,501","9,605","9,565","9,617","9,525","9,551","9,646","9,686","9,699","9,515","9,359","9,154","9,083"
28,.Mono County,"12,921","13,224","13,404","13,352","13,360","13,474","13,743","13,678","13,862","14,008","14,202","14,204","14,329","14,248","13,997","14,072"
29,.Monterey County,"402,990","407,082","408,977","409,725","408,731","405,139","401,831","402,376","406,022","410,263","415,052","416,475","421,162","426,094","428,382","430,416"
30,.Napa County,"124,565","126,818","128,744","130,138","130,387","130,381","131,440","132,583","134,093","135,280","136,530","136,794","137,905","138,876","139,978","140,918"
31,.Nevada County,"92,520","93,715","94,647","95,606","96,512","97,250","97,549","97,794","98,200","98,591","98,748","98,791","98,714","98,173","97,992","98,614"
32,.Orange County,"2,854,513","2,885,457","2,908,245","2,929,376","2,941,711","2,940,055","2,932,261","2,931,629","2,957,593","2,987,177","3,010,265","3,017,116","3,053,465","3,085,386","3,113,649","3,136,750"
33,.Placer County,"251,012","263,615","276,907","290,726","302,841","312,762","321,934","329,023","337,568","343,810","348,494","350,034","356,445","360,569","365,822","369,727"
34,.Plumas County,"20,754","20,820","20,866","20,957","21,000","21,010","20,762","20,667","20,410","20,169","20,007","19,914","19,716","19,377","18,899","18,667"
35,.Riverside County,"1,558,985","1,616,634","1,687,147","1,771,656","1,856,542","1,931,785","2,012,370","2,075,183","2,109,712","2,146,725","2,189,753","2,202,001","2,235,890","2,264,804","2,291,406","2,321,738"
36,.Sacramento County,"1,229,940","1,266,257","1,301,079","1,328,531","1,348,932","1,360,816","1,369,563","1,381,161","1,394,438","1,408,601","1,418,742","1,421,651","1,434,506","1,446,585","1,459,474","1,477,522"
37,.San Benito County,"53,781","54,644","55,056","55,198","54,849","54,647","54,124","54,072","54,267","54,436","55,269","55,532","56,034","56,701","57,370","57,974"
38,.San Bernardino County,"1,718,037","1,760,731","1,799,791","1,846,115","1,899,065","1,943,924","1,974,140","1,992,161","2,003,735","2,013,960","2,035,212","2,041,234","2,062,381","2,076,601","2,086,732","2,104,038"
39,.San Diego County,"2,827,366","2,869,672","2,900,355","2,914,702","2,930,007","2,938,375","2,947,289","2,975,742","3,022,116","3,061,203","3,095,342","3,103,793","3,139,767","3,179,798","3,216,522","3,256,875"
40,.San Francisco County,"777,885","780,865","772,723","766,160","761,325","763,016","768,650","778,673","791,152","801,922","805,193","805,770","816,294","830,406","841,270","853,258"
41,.San Joaquin County,"567,885","591,207","609,041","626,778","642,898","656,985","662,812","668,080","671,692","677,736","685,308","687,291","695,071","700,958","703,747","713,452"
42,.San Luis Obispo County,"247,839","251,462","253,083","254,674","256,842","258,615","260,498","262,770","266,358","268,145","269,591","269,819","271,150","274,378","275,973","278,534"
43,.San Mateo County,"707,820","705,621","697,628","693,057","690,161","690,078","690,176","693,849","703,830","713,617","718,500","719,899","729,022","740,644","750,345","759,156"
44,.Santa Barbara County,"399,990","403,164","405,178","406,810","407,284","408,079","408,085","411,243","415,859","420,356","423,949","424,338","426,058","430,827","435,980","440,628"
45,.Santa Clara County,"1,684,947","1,688,082","1,669,348","1,663,592","1,663,167","1,675,312","1,691,159","1,712,026","1,740,964","1,765,137","1,781,671","1,786,542","1,813,812","1,841,868","1,870,935","1,896,246"
46,.Santa Cruz County,"255,835","256,045","254,531","253,021","252,356","251,377","251,616","253,304","256,520","260,009","262,366","263,216","265,103","266,794","269,395","271,529"
47,.Shasta County,"163,615","166,408","170,198","173,202","174,867","175,615","176,166","176,548","177,247","177,279","177,223","177,284","177,595","177,917","178,445","178,983"
48,.Sierra County,"3,574","3,518","3,482","3,511","3,430","3,378","3,424","3,373","3,320","3,248","3,240","3,221","3,100","3,068","3,030","2,979"
49,.Siskiyou County,"44,218","43,908","43,965","44,287","44,394","44,641","44,487","44,465","44,780","44,788","44,900","44,939","44,614","44,082","43,543","43,390"
50,.Solano County,"396,974","404,209","408,226","408,409","409,301","408,181","408,402","408,243","408,972","410,290","413,344","414,076","416,652","420,267","424,384","429,993"
51,.Sonoma County,"460,421","465,293","465,298","466,489","466,809","465,938","465,188","467,356","473,091","479,479","483,870","484,827","487,822","490,740","495,007","499,563"
52,.Stanislaus County,"449,471","463,761","477,469","487,357","492,613","500,020","504,651","507,834","509,032","511,536","514,451","515,242","518,034","521,349","524,625","529,544"
53,.Sutter County,"79,192","80,138","82,162","84,671","86,484","88,764","91,112","92,959","93,855","94,366","94,743","94,764","94,560","94,342","94,702","94,983"
54,.Tehama County,"56,170","56,685","57,380","58,528","59,571","60,602","61,587","62,147","62,648","62,891","63,440","63,563","63,347","63,241","62,916","62,820"
55,.Trinity County,"12,980","12,859","13,064","13,210","13,159","13,440","13,634","13,648","13,656","13,762","13,780","13,749","13,677","13,482","13,422","13,122"
56,.Tulare County,"368,627","373,171","379,568","388,743","398,226","407,970","414,921","422,140","429,283","436,987","442,178","443,060","447,358","450,779","453,663","456,452"
57,.Tuolumne County,"54,658","55,253","55,850","56,513","56,602","56,788","56,680","56,339","56,320","55,845","55,365","55,188","54,832","54,237","54,018","53,852"
58,.Ventura County,"756,506","766,689","779,489","788,070","793,994","794,197","798,183","800,027","806,353","815,130","823,391","825,298","830,990","835,143","840,175","844,749"
59,.Yolo County,"169,835","175,337","180,327","182,954","185,237","186,269","189,615","194,339","197,154","199,791","200,850","201,101","202,082","204,890","206,650","208,873"
60,.Yuba County,"60,372","61,249","62,100","62,733","63,742","66,285","69,272","70,761","71,773","71,607","72,146","72,351","72,511","72,832","73,159","73,642"

In [177]:
pop_df["COUNTY"] = pop_df["COUNTY"].str.split(' County', expand=True)
pop_df["COUNTY"] = pop_df["COUNTY"].str.split('.', expand=True)[1]
pop_df["COUNTY"] = pop_df["COUNTY"].str.split(' County', expand=True)[0]

In [181]:
pop_df['COUNTY'] = pop_df['COUNTY'].str.upper()

pop_df.head()

1,COUNTY,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,ALAMEDA,"1,443,705","1,449,840","1,469,484","1,462,106","1,454,163","1,445,721","1,441,545","1,444,484","1,455,715",...,"1,498,539","1,510,261","1,513,402","1,532,215","1,556,648","1,582,936","1,611,572","1,637,141","1,653,236","1,663,190"
4,ALPINE,"1,206","1,209","1,196","1,237","1,233","1,263","1,219","1,276","1,274",...,"1,197","1,175","1,161","1,093","1,110","1,127","1,084","1,088","1,057","1,120"
5,AMADOR,"35,101","35,153","35,697","36,561","36,994","37,400","38,040","38,353","38,756",...,"38,238","38,091","37,884","37,539","37,112","36,635","36,748","37,047","37,473","38,626"
6,BUTTE,"203,125","203,807","206,193","209,120","211,481","213,065","214,752","216,824","217,469",...,"219,777","220,002","219,957","220,003","220,969","221,768","223,629","224,818","226,525","229,294"
7,CALAVERAS,"40,535","40,645","41,304","42,380","43,755","44,530","45,295","46,045","46,268",...,"45,900","45,578","45,470","45,163","44,826","44,667","44,677","44,954","45,315","45,670"