# Retrieve and Process Census Data for Pertussis Analysis

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states
from pprint import pprint
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff

# Census API Key
from config import api_key

# Plotly credentials
# plotly.tools.set_credentials_file(username='chelmo', api_key=plotly_key)

#from apikeys import CENSUS_API_KEY
c10 = Census(api_key, year=2010)
c11 = Census(api_key, year=2011)
c12 = Census(api_key, year=2012)
c13 = Census(api_key, year=2013)
c14 = Census(api_key, year=2014)
c15 = Census(api_key, year=2015)
c16 = Census(api_key, year=2016)

## Run census data and include the following codes:

"B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E"

In [3]:
# Run Census Search to retrieve county-level data for 2010
census_data_10 = c10.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_10_pd = pd.DataFrame(census_data_10)

#Reorder and rename columns
census_10_pd = census_10_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_10_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,250699.0,11511.0,11200.0,11359.0,7360.0,10870.0,10802.0,10655.0,6856.0,62201.0,...,2798.0,347.0,63.0,159.0,48875.0,21085.0,27790.0,"Merced County, California",047,06
1,9605.0,262.0,277.0,334.0,213.0,250.0,319.0,307.0,167.0,634.0,...,77.0,15.0,43.0,0.0,1617.0,631.0,986.0,"Modoc County, California",049,06
2,13905.0,413.0,143.0,654.0,354.0,500.0,428.0,353.0,127.0,2564.0,...,146.0,0.0,0.0,0.0,1658.0,454.0,1204.0,"Mono County, California",051,06
3,407435.0,16683.0,14707.0,15142.0,9700.0,15861.0,14456.0,13739.0,9201.0,122788.0,...,3930.0,620.0,97.0,296.0,50330.0,19907.0,30423.0,"Monterey County, California",053,06
4,134051.0,4191.0,4566.0,4322.0,2887.0,3842.0,3897.0,4746.0,2779.0,30160.0,...,607.0,250.0,125.0,51.0,12449.0,3697.0,8752.0,"Napa County, California",055,06

## Process DataFrame

Use raw DataFrame to create new DF with the following columns:
* Total population
* % of population that is foreign born
* % of population that moved from overseas in past year
* Birthrate for previous year
* % of population that is school aged (5-17)
* Average household size
* % of school aged population not enrolled in public or private school
* % of school aged population below the poverty line

In [4]:
# Save raw DF as backup
census_10_pd.to_csv("10_raw_data.csv", encoding="utf-8", index=False)

In [5]:
# Check column types
census_10_pd.dtypes

Total Pop                                         float64
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [6]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_10_pd['% Foreign Born'] = census_10_pd['# Foreign Born'] / census_10_pd['Total Pop']*100
census_10_pd['% Foreign Born'].head()

0    24.811028
1     6.600729
2    18.439410
3    30.136832
4    22.498900
Name: % Foreign Born, dtype: float64

In [7]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_10_pd['% Overseas Move Past Year'] = census_10_pd['Overseas Move Past Year'] / census_10_pd['Total Pop']*100
census_10_pd['% Overseas Move Past Year'].head()

0    0.246910
1    0.000000
2    0.640058
3    0.921865
4    0.928751
Name: % Overseas Move Past Year, dtype: float64

In [8]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_10_pd['Birthrate Past Year'] = (census_10_pd["Women 15-50 Who've Given Birth"] / census_10_pd['Total Female Population'])*100
census_10_pd['Birthrate Past Year'].head()

0    8.157812
1    5.335534
2    2.052350
3    6.379867
4    5.881788
Name: Birthrate Past Year, dtype: float64

In [9]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_10_pd['Total School Pop']=census_10_pd['Male Public Age 3-4']+census_10_pd['Female Public Age 3-4']+census_10_pd['Male Public Age 5-9']+census_10_pd['Female Public Age 5-9']+census_10_pd['Male Public Age 10-14']+census_10_pd['Female Public Age 10-14']+census_10_pd['Male Public Age 15-17']+census_10_pd['Male Public Age 15-17']+ \
    census_10_pd['Male Private Age 3-4']+census_10_pd['Female Private Age 3-4']+census_10_pd['Male Private Age 5-9']+census_10_pd['Female Private Age 5-9']+census_10_pd['Male Private Age 10-14']+census_10_pd['Female Private Age 10-14']+census_10_pd['Male Private Age 15-17']+census_10_pd['Male Private Age 15-17']+ \
    census_10_pd['Male Not Enrolled Age 3-4']+census_10_pd['Female Not Enrolled Age 3-4']+census_10_pd['Male Not Enrolled Age 5-9']+census_10_pd['Female Not Enrolled Age 5-9']+census_10_pd['Male Not Enrolled Age 10-14']+census_10_pd['Female Not Enrolled Age 10-14']+census_10_pd['Male Not Enrolled Age 15-17']+census_10_pd['Male Not Enrolled Age 15-17']

census_10_pd['Total School Pop'].head()
# Pull % of population that is school aged:
# Total School Population / Total Pop
census_10_pd['% School Aged'] = census_10_pd['Total School Pop'] / census_10_pd['Total Pop']*100
census_10_pd['% School Aged'].head()

0    26.901982
1    20.041645
2    19.144193
3    22.258274
4    19.728312
Name: % School Aged, dtype: float64

In [10]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_10_pd['Ave HH Size'] = (1*(census_10_pd['1-person Fam HH']+census_10_pd['1-person non-Fam HH'])+2*(census_10_pd['2-person Fam HH']+census_10_pd['2-person non-Fam HH'])+3*(census_10_pd['3-person Fam HH']+census_10_pd['3-person non-Fam HH'])+4*(census_10_pd['4-person Fam HH']+census_10_pd['4-person non-Fam HH'])+5*(census_10_pd['5-person Fam HH']+census_10_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_10_pd['6-person non-Fam HH'])+7*(census_10_pd['7+-person Fam HH']+census_10_pd['7+-person non-Fam HH']))/(census_10_pd['Total Fam HH'] + census_10_pd['Total non-Fam HH'])
census_10_pd['Ave HH Size'].head()

0    3.202760
1    2.154720
2    2.160188
3    2.830233
4    2.445088
Name: Ave HH Size, dtype: float64

In [15]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_10_pd['% Not Enrolled'] = (census_10_pd['Male Not Enrolled Age 3-4']+census_10_pd['Female Not Enrolled Age 3-4']+census_10_pd['Male Not Enrolled Age 5-9']+census_10_pd['Female Not Enrolled Age 5-9']+census_10_pd['Male Not Enrolled Age 10-14']+census_10_pd['Female Not Enrolled Age 10-14']+census_10_pd['Male Not Enrolled Age 15-17']+census_10_pd['Male Not Enrolled Age 15-17']) / census_10_pd['Total School Pop']*100
census_10_pd['% Not Enrolled'].head()

0    10.585235
1    13.662338
2     7.776108
3    11.397318
4     9.211223
Name: % Not Enrolled, dtype: float64

In [18]:
# Pull % of students attending school below the poverty line:
census_10_pd['% School-Aged Below Poverty Line'] = (census_10_pd['Below Poverty Level Preschool']+census_10_pd['Below Poverty Level Kinder']+census_10_pd['Below Poverty Level Grades 1-4']+census_10_pd['Below Poverty Level Grades 5-8']+census_10_pd['Below Poverty Level Grades 9-12']) / \
    (census_10_pd['Below Poverty Level Preschool']+census_10_pd['Below Poverty Level Kinder']+census_10_pd['Below Poverty Level Grades 1-4']+census_10_pd['Below Poverty Level Grades 5-8']+census_10_pd['Below Poverty Level Grades 9-12']+ \
     census_10_pd['Above Poverty Level Preschool']+census_10_pd['Above Poverty Level Kinder']+census_10_pd['Above Poverty Level Grades 1-4']+census_10_pd['Above Poverty Level Grades 5-8']+census_10_pd['Above Poverty Level Grades 9-12'])*100
census_10_pd['% School-Aged Below Poverty Line'].head()

0    34.964513
1    37.966306
2    18.492872
3    24.774741
4    15.397751
Name: % School-Aged Below Poverty Line, dtype: float64

In [19]:
# Assemble New DF for 2010
Y10_df = census_10_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y10_df

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Merced County, California",047,250699.0,24.811028,0.246910,8.157812,26.901982,3.202760,10.585235,34.964513
1,"Modoc County, California",049,9605.0,6.600729,0.000000,5.335534,20.041645,2.154720,13.662338,37.966306
2,"Mono County, California",051,13905.0,18.439410,0.640058,2.052350,19.144193,2.160188,7.776108,18.492872
3,"Monterey County, California",053,407435.0,30.136832,0.921865,6.379867,22.258274,2.830233,11.397318,24.774741
4,"Napa County, California",055,134051.0,22.498900,0.928751,5.881788,19.728312,2.445088,9.211223,15.397751
5,"Nevada County, California",057,98186.0,5.492636,0.524515,4.997481,17.865072,2.271139,5.871957,15.177760
6,"Orange County, California",059,2965525.0,30.451168,0.812537,5.377810,21.158682,2.741047,8.541180,20.046770
7,"Placer County, California",061,336477.0,10.110349,0.353367,5.251357,21.366691,2.537151,7.104904,10.069476
8,"Plumas County, California",063,20392.0,5.742448,0.000000,4.684369,17.006669,1.938027,9.659746,27.705075
9,"Riverside County, California",065,2109464.0,22.371892,0.561612,6.195518,24.539409,2.924165,10.114749,21.305806
10,"Sacramento County, California",067,1395144.0,19.623064,0.562379,5.716506,21.847637,2.420000,8.980138,27.119964
11,"San Benito County, California",069,54492.0,21.261837,1.737870,4.922073,25.438596,3.209463,9.702785,16.241911
12,"San Bernardino County, California",071,2005287.0,21.574518,0.582211,6.074313,25.392126,3.118096,10.228699,23.619892
13,"San Diego County, California",073,3022468.0,23.109790,1.147704,5.586592,19.848184,2.454013,8.514681,26.107958
14,"San Francisco County, California",075,789172.0,35.614796,1.345207,3.889339,10.732515,1.668340,7.824270,39.435898
15,"San Joaquin County, California",077,673613.0,23.304331,0.596782,6.830234,25.223236,2.986507,9.731794,24.848082
16,"San Luis Obispo County, California",079,265577.0,9.999360,0.484605,4.764738,16.678402,2.203146,8.448097,43.590945
17,"San Mateo County, California",081,704327.0,33.965047,0.930108,5.486806,18.537412,2.488441,7.358077,13.430393
18,"Santa Barbara County, California",083,416051.0,23.743483,1.078233,5.249970,19.566111,2.429192,8.666544,34.918628
19,"Santa Clara County, California",085,1739396.0,36.991576,1.445847,6.133587,19.958365,2.662947,8.214198,17.719112
20,"Santa Cruz County, California",087,256901.0,18.395024,0.694431,5.198391,18.219470,2.317675,8.289536,33.583376
21,"Shasta County, California",089,176906.0,5.101579,0.334641,5.825024,19.737601,2.310731,9.393705,29.358030
22,"Sierra County, California",091,3366.0,5.258467,0.000000,0.524476,16.488414,1.889277,21.801802,34.792627
23,"Siskiyou County, California",093,44690.0,5.829045,0.174536,5.311335,17.816066,2.045705,7.372519,28.230508
24,"Solano County, California",095,410042.0,19.907473,0.626521,6.600525,21.389028,2.690009,10.142069,17.390146
25,"Sonoma County, California",097,474047.0,16.586541,0.414938,4.680521,19.102325,2.258705,8.917331,17.794833
26,"Stanislaus County, California",099,509682.0,20.369760,0.562508,6.492876,24.672050,2.930107,10.172646,26.641111
27,"Sutter County, California",101,93420.0,22.285378,1.583173,6.367058,23.584885,2.877266,11.264921,22.899084
28,"Tehama County, California",103,62575.0,10.796644,0.242909,7.913566,22.229325,2.447832,9.345794,36.827914
29,"Trinity County, California",105,13701.0,3.101963,0.832056,5.085375,16.261587,2.089374,10.143627,20.829171
30,"Tulare County, California",107,429404.0,23.118788,0.536092,8.257830,27.221917,3.259205,11.623550,35.090267
31,"Tuolumne County, California",109,56074.0,3.932304,0.167636,5.503513,15.661447,2.115669,5.534047,17.598843
32,"Ventura County, California",111,809080.0,22.866836,0.647773,5.488513,22.348470,2.862694,7.938413,15.476112
33,"Yolo County, California",113,196418.0,20.444664,1.031983,4.812723,19.545561,2.330842,8.147743,51.501574
34,"Yuba County, California",115,71160.0,13.109893,0.809444,8.259305,24.141372,2.849463,11.816753,30.358440
35,"Alameda County, California",001,1477980.0,30.814964,1.072207,4.862443,19.054047,2.346766,7.877776,24.686042
36,"Alpine County, California",003,1176.0,5.017007,1.445578,3.252033,23.044218,2.119643,5.166052,32.295720
37,"Amador County, California",005,38327.0,6.076656,0.140893,4.318426,15.860881,2.282057,6.876131,8.903021
38,"Butte County, California",007,218635.0,7.910902,0.408443,5.478140,18.238617,2.169502,7.939613,51.122310
39,"Calaveras County, California",009,45994.0,4.050528,0.115232,3.784703,17.589251,2.377663,12.447466,12.000565
40,"Colusa County, California",011,21165.0,25.282306,1.771793,5.735560,25.405150,2.771886,8.778129,26.014271
41,"Contra Costa County, California",013,1024809.0,23.605667,0.755946,5.108715,21.565287,2.593091,7.756003,14.713875
42,"Del Norte County, California",015,28471.0,7.256507,0.224790,6.181688,18.629483,2.125382,6.070890,41.951024
43,"El Dorado County, California",017,179053.0,7.861918,0.278130,4.423129,20.820092,2.556752,6.268945,13.093126
44,"Fresno County, California",019,908830.0,21.730687,0.529912,7.112620,25.216817,2.888772,10.805575,38.088389
45,"Glenn County, California",021,27935.0,15.707893,0.178987,7.559128,24.317165,2.772069,13.190049,30.490080
46,"Humboldt County, California",023,133058.0,5.390882,0.334441,5.930526,17.365359,2.008077,9.655501,41.053892
47,"Imperial County, California",025,168052.0,31.903220,1.318639,6.925743,24.991074,3.281092,8.469451,35.300851
48,"Inyo County, California",027,18434.0,10.231095,0.027124,9.396155,17.619616,2.012853,6.065271,16.945264
49,"Kern County, California",029,815693.0,20.516175,0.515635,7.417308,25.662964,2.979981,11.587868,31.231832
50,"Kings County, California",031,151122.0,21.517714,0.782811,6.550934,22.360742,3.200101,11.976207,30.237015
51,"Lake County, California",033,64371.0,8.885989,0.520421,4.989772,19.401594,2.211609,9.480343,33.914197
52,"Lassen County, California",035,35081.0,7.171973,0.327813,7.719610,15.772070,2.356606,10.283752,21.132151
53,"Los Angeles County, California",037,9758256.0,35.639801,0.722957,5.311282,21.295639,2.611194,8.090533,29.363781
54,"Madera County, California",039,147738.0,20.564784,0.701918,5.894041,24.173875,3.115853,10.836087,30.825273
55,"Marin County, California",041,248601.0,18.843448,0.669748,4.289609,17.595263,2.070252,5.569018,11.262286
56,"Mariposa County, California",043,18290.0,3.739748,0.410060,6.089489,14.603609,2.142774,10.894796,29.285714
57,"Mendocino County, California",045,87487.0,11.616583,0.633237,4.998694,19.010824,2.198497,9.758297,29.915384

In [21]:
# Print to pdf
Y10_df.to_csv("2010_final.csv", encoding="utf-8", index=False)

## 2011 Data

In [22]:
# Run Census Search to retrieve county-level data for 2010
census_data_11 = c11.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_11_pd = pd.DataFrame(census_data_11)

#Reorder and rename columns
census_11_pd = census_11_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_11_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1494876.0,50416.0,48704.0,45092.0,29804.0,47633.0,45276.0,44759.0,27947.0,459612.0,...,7675.0,1174.0,466.0,732.0,164754.0,64877.0,99877.0,"Alameda County, California",001,06
1,1167.0,47.0,38.0,11.0,30.0,30.0,68.0,28.0,32.0,54.0,...,8.0,0.0,0.0,0.0,170.0,100.0,70.0,"Alpine County, California",003,06
2,38244.0,609.0,772.0,1220.0,791.0,633.0,815.0,975.0,658.0,2232.0,...,149.0,0.0,0.0,8.0,3285.0,819.0,2466.0,"Amador County, California",005,06
3,219309.0,6155.0,6279.0,6716.0,4423.0,6115.0,5706.0,6585.0,4193.0,17216.0,...,1460.0,169.0,75.0,109.0,40060.0,19284.0,20776.0,"Butte County, California",007,06
4,45794.0,961.0,1164.0,1546.0,1047.0,939.0,1134.0,1243.0,1004.0,1991.0,...,219.0,150.0,22.0,21.0,3583.0,640.0,2943.0,"Calaveras County, California",009,06

In [23]:
# Save raw DF as backup
census_11_pd.to_csv("11_raw_data.csv", encoding="utf-8", index=False)

In [24]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_11_pd['% Foreign Born'] = census_11_pd['# Foreign Born'] / census_11_pd['Total Pop']*100
census_11_pd['% Foreign Born'].head()

0    30.745828
1     4.627249
2     5.836210
3     7.850111
4     4.347731
Name: % Foreign Born, dtype: float64

In [25]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_11_pd['% Overseas Move Past Year'] = census_11_pd['Overseas Move Past Year'] / census_11_pd['Total Pop']*100
census_11_pd['% Overseas Move Past Year'].head()

0    1.016606
1    2.656384
2    0.143813
3    0.451874
4    0.155042
Name: % Overseas Move Past Year, dtype: float64

In [26]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_11_pd['Birthrate Past Year'] = (census_11_pd["Women 15-50 Who've Given Birth"] / census_11_pd['Total Female Population'])*100
census_11_pd['Birthrate Past Year'].head()

0    4.970188
1    2.857143
2    3.469032
3    5.916491
4    2.810786
Name: Birthrate Past Year, dtype: float64

In [27]:
# Create Total School Population: (Total Male Public School + Total Female Public School 
# + Total Male Private School + Total Female Private School + Total Male Note Enrolled + Total Female Not Enrolled)
census_11_pd['Total School Pop']=census_11_pd['Male Public Age 3-4']+census_11_pd['Female Public Age 3-4']+census_11_pd['Male Public Age 5-9']+census_11_pd['Female Public Age 5-9']+census_11_pd['Male Public Age 10-14']+census_11_pd['Female Public Age 10-14']+census_11_pd['Male Public Age 15-17']+census_11_pd['Male Public Age 15-17']+ \
    census_11_pd['Male Private Age 3-4']+census_11_pd['Female Private Age 3-4']+census_11_pd['Male Private Age 5-9']+census_11_pd['Female Private Age 5-9']+census_11_pd['Male Private Age 10-14']+census_11_pd['Female Private Age 10-14']+census_11_pd['Male Private Age 15-17']+census_11_pd['Male Private Age 15-17']+ \
    census_11_pd['Male Not Enrolled Age 3-4']+census_11_pd['Female Not Enrolled Age 3-4']+census_11_pd['Male Not Enrolled Age 5-9']+census_11_pd['Female Not Enrolled Age 5-9']+census_11_pd['Male Not Enrolled Age 10-14']+census_11_pd['Female Not Enrolled Age 10-14']+census_11_pd['Male Not Enrolled Age 15-17']+census_11_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_11_pd['% School Aged'] = census_11_pd['Total School Pop'] / census_11_pd['Total Pop']*100
census_11_pd['% School Aged'].head()

0    18.940434
1    22.536418
2    15.591988
3    17.848333
4    17.495742
Name: % School Aged, dtype: float64

In [28]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_11_pd['Ave HH Size'] = (1*(census_11_pd['1-person Fam HH']+census_11_pd['1-person non-Fam HH'])+2*(census_11_pd['2-person Fam HH']+census_11_pd['2-person non-Fam HH'])+3*(census_11_pd['3-person Fam HH']+census_11_pd['3-person non-Fam HH'])+4*(census_11_pd['4-person Fam HH']+census_11_pd['4-person non-Fam HH'])+5*(census_11_pd['5-person Fam HH']+census_11_pd['5-person non-Fam HH'])+6*(census_11_pd['6-person Fam HH']+census_11_pd['6-person non-Fam HH'])+7*(census_11_pd['7+-person Fam HH']+census_11_pd['7+-person non-Fam HH']))/(census_11_pd['Total Fam HH'] + census_11_pd['Total non-Fam HH'])
census_11_pd['Ave HH Size'].head()

0    2.367277
1    2.073620
2    2.233152
3    2.169194
4    2.271606
Name: Ave HH Size, dtype: float64

In [29]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
census_11_pd['% Not Enrolled'] = (census_11_pd['Male Not Enrolled Age 3-4']+census_11_pd['Female Not Enrolled Age 3-4']+census_11_pd['Male Not Enrolled Age 5-9']+census_11_pd['Female Not Enrolled Age 5-9']+census_11_pd['Male Not Enrolled Age 10-14']+census_11_pd['Female Not Enrolled Age 10-14']+census_11_pd['Male Not Enrolled Age 15-17']+census_11_pd['Male Not Enrolled Age 15-17']) / census_11_pd['Total School Pop']*100
census_11_pd['% Not Enrolled'].head()

0     7.989094
1     4.562738
2     7.814858
3     8.330991
4    12.880679
Name: % Not Enrolled, dtype: float64

In [30]:
# Pull % of students attending school below the poverty line:
census_11_pd['% School-Aged Below Poverty Line'] = (census_11_pd['Below Poverty Level Preschool']+census_11_pd['Below Poverty Level Kinder']+census_11_pd['Below Poverty Level Grades 1-4']+census_11_pd['Below Poverty Level Grades 5-8']+census_11_pd['Below Poverty Level Grades 9-12']) / \
    (census_11_pd['Below Poverty Level Preschool']+census_11_pd['Below Poverty Level Kinder']+census_11_pd['Below Poverty Level Grades 1-4']+census_11_pd['Below Poverty Level Grades 5-8']+census_11_pd['Below Poverty Level Grades 9-12']+ \
     census_11_pd['Above Poverty Level Preschool']+census_11_pd['Above Poverty Level Kinder']+census_11_pd['Above Poverty Level Grades 1-4']+census_11_pd['Above Poverty Level Grades 5-8']+census_11_pd['Above Poverty Level Grades 9-12'])*100
census_11_pd['% School-Aged Below Poverty Line'].head()

0    24.903269
1    39.840637
2    14.899036
3    53.742824
4     9.169054
Name: % School-Aged Below Poverty Line, dtype: float64

In [31]:
# Assemble New DF for 2011
Y11_df = census_11_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y11_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1494876.0,30.745828,1.016606,4.970188,18.940434,2.367277,7.989094,24.903269
1,"Alpine County, California",003,1167.0,4.627249,2.656384,2.857143,22.536418,2.073620,4.562738,39.840637
2,"Amador County, California",005,38244.0,5.836210,0.143813,3.469032,15.591988,2.233152,7.814858,14.899036
3,"Butte County, California",007,219309.0,7.850111,0.451874,5.916491,17.848333,2.169194,8.330991,53.742824
4,"Calaveras County, California",009,45794.0,4.347731,0.155042,2.810786,17.495742,2.271606,12.880679,9.169054

In [33]:
# Print to pdf
Y11_df.to_csv("2011_final.csv", encoding="utf-8", index=False)

## 2012 Data

In [34]:
# Run Census Search to retrieve county-level data for 2012
census_data_12 = c12.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_12_pd = pd.DataFrame(census_data_12)

#Reorder and rename columns
census_12_pd = census_12_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_12_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1515136.0,50465.0,49105.0,45485.0,29436.0,47720.0,45923.0,44899.0,27830.0,463896.0,...,7700.0,1109.0,359.0,526.0,170434.0,66598.0,103836.0,"Alameda County, California",001,06
1,1197.0,57.0,47.0,24.0,36.0,3.0,49.0,19.0,35.0,57.0,...,3.0,3.0,0.0,0.0,159.0,60.0,99.0,"Alpine County, California",003,06
2,37764.0,556.0,868.0,964.0,796.0,789.0,838.0,881.0,635.0,2148.0,...,211.0,0.0,0.0,10.0,3435.0,818.0,2617.0,"Amador County, California",005,06
3,220101.0,6240.0,6374.0,6553.0,4378.0,6100.0,5656.0,6658.0,4080.0,17140.0,...,1423.0,177.0,46.0,131.0,41942.0,19274.0,22668.0,"Butte County, California",007,06
4,45507.0,939.0,1252.0,1390.0,1050.0,899.0,1086.0,1236.0,913.0,1961.0,...,256.0,143.0,14.0,72.0,4446.0,955.0,3491.0,"Calaveras County, California",009,06

In [35]:
# Save raw DF as backup
census_12_pd.to_csv("12_raw_data.csv", encoding="utf-8", index=False)

In [36]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_12_pd['% Foreign Born'] = census_12_pd['# Foreign Born'] / census_12_pd['Total Pop']*100
census_12_pd['% Foreign Born'].head()

0    30.617450
1     4.761905
2     5.687957
3     7.787334
4     4.309227
Name: % Foreign Born, dtype: float64

In [37]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_12_pd['% Overseas Move Past Year'] = census_12_pd['Overseas Move Past Year'] / census_12_pd['Total Pop']*100
census_12_pd['% Overseas Move Past Year'].head()

0    0.952324
1    1.837928
2    0.158881
3    0.376645
4    0.153822
Name: % Overseas Move Past Year, dtype: float64

In [38]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_12_pd['Birthrate Past Year'] = (census_12_pd["Women 15-50 Who've Given Birth"] / census_12_pd['Total Female Population'])*100
census_12_pd['Birthrate Past Year'].head()

0    5.053942
1    0.000000
2    2.285904
3    5.945159
4    2.390815
Name: Birthrate Past Year, dtype: float64

In [39]:
# Create Total School Population from age groups in each enrollment category for 3+
census_12_pd['Total School Pop']=census_12_pd['Male Public Age 3-4']+census_12_pd['Female Public Age 3-4']+census_12_pd['Male Public Age 5-9']+census_12_pd['Female Public Age 5-9']+census_12_pd['Male Public Age 10-14']+census_12_pd['Female Public Age 10-14']+census_12_pd['Male Public Age 15-17']+census_12_pd['Male Public Age 15-17']+ \
    census_12_pd['Male Private Age 3-4']+census_12_pd['Female Private Age 3-4']+census_12_pd['Male Private Age 5-9']+census_12_pd['Female Private Age 5-9']+census_12_pd['Male Private Age 10-14']+census_12_pd['Female Private Age 10-14']+census_12_pd['Male Private Age 15-17']+census_12_pd['Male Private Age 15-17']+ \
    census_12_pd['Male Not Enrolled Age 3-4']+census_12_pd['Female Not Enrolled Age 3-4']+census_12_pd['Male Not Enrolled Age 5-9']+census_12_pd['Female Not Enrolled Age 5-9']+census_12_pd['Male Not Enrolled Age 10-14']+census_12_pd['Female Not Enrolled Age 10-14']+census_12_pd['Male Not Enrolled Age 15-17']+census_12_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_12_pd['% School Aged'] = census_12_pd['Total School Pop'] / census_12_pd['Total Pop']*100
census_12_pd['% School Aged'].head()

0    18.739572
1    22.138680
2    15.432687
3    17.686880
4    17.245698
Name: % School Aged, dtype: float64

In [40]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_12_pd['Ave HH Size'] = (1*(census_12_pd['1-person Fam HH']+census_12_pd['1-person non-Fam HH'])+2*(census_12_pd['2-person Fam HH']+census_12_pd['2-person non-Fam HH'])+3*(census_12_pd['3-person Fam HH']+census_12_pd['3-person non-Fam HH'])+4*(census_12_pd['4-person Fam HH']+census_12_pd['4-person non-Fam HH'])+5*(census_12_pd['5-person Fam HH']+census_12_pd['5-person non-Fam HH'])+6*(census_12_pd['6-person Fam HH']+census_12_pd['6-person non-Fam HH'])+7*(census_12_pd['7+-person Fam HH']+census_12_pd['7+-person non-Fam HH']))/(census_12_pd['Total Fam HH'] + census_12_pd['Total non-Fam HH'])
census_12_pd['Ave HH Size'].head()

0    2.382956
1    2.228846
2    2.234087
3    2.144603
4    2.313641
Name: Ave HH Size, dtype: float64

In [41]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
census_12_pd['% Not Enrolled'] = (census_12_pd['Male Not Enrolled Age 3-4']+census_12_pd['Female Not Enrolled Age 3-4']+census_12_pd['Male Not Enrolled Age 5-9']+census_12_pd['Female Not Enrolled Age 5-9']+census_12_pd['Male Not Enrolled Age 10-14']+census_12_pd['Female Not Enrolled Age 10-14']+census_12_pd['Male Not Enrolled Age 15-17']+census_12_pd['Male Not Enrolled Age 15-17']) / census_12_pd['Total School Pop']*100
census_12_pd['% Not Enrolled'].head()

0     7.664213
1     3.018868
2     9.317090
3     8.600272
4    10.652396
Name: % Not Enrolled, dtype: float64

In [42]:
# Pull % of students attending school below the poverty line:
census_12_pd['% School-Aged Below Poverty Line'] = (census_12_pd['Below Poverty Level Preschool']+census_12_pd['Below Poverty Level Kinder']+census_12_pd['Below Poverty Level Grades 1-4']+census_12_pd['Below Poverty Level Grades 5-8']+census_12_pd['Below Poverty Level Grades 9-12']) / \
    (census_12_pd['Below Poverty Level Preschool']+census_12_pd['Below Poverty Level Kinder']+census_12_pd['Below Poverty Level Grades 1-4']+census_12_pd['Below Poverty Level Grades 5-8']+census_12_pd['Below Poverty Level Grades 9-12']+ \
     census_12_pd['Above Poverty Level Preschool']+census_12_pd['Above Poverty Level Kinder']+census_12_pd['Above Poverty Level Grades 1-4']+census_12_pd['Above Poverty Level Grades 5-8']+census_12_pd['Above Poverty Level Grades 9-12'])*100
census_12_pd['% School-Aged Below Poverty Line'].head()

0    25.402698
1    23.346304
2    15.477767
3    54.169360
4    13.619509
Name: % School-Aged Below Poverty Line, dtype: float64

In [43]:
# Assemble New DF for 2012
Y12_df = census_12_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y12_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1515136.0,30.617450,0.952324,5.053942,18.739572,2.382956,7.664213,25.402698
1,"Alpine County, California",003,1197.0,4.761905,1.837928,0.000000,22.138680,2.228846,3.018868,23.346304
2,"Amador County, California",005,37764.0,5.687957,0.158881,2.285904,15.432687,2.234087,9.317090,15.477767
3,"Butte County, California",007,220101.0,7.787334,0.376645,5.945159,17.686880,2.144603,8.600272,54.169360
4,"Calaveras County, California",009,45507.0,4.309227,0.153822,2.390815,17.245698,2.313641,10.652396,13.619509

In [44]:
# Print to pdf
Y12_df.to_csv("2012_final.csv", encoding="utf-8", index=False)

## 2013 Data

In [79]:
# Run Census Search to retrieve county-level data for 2013
census_data_13 = c13.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_13_pd = pd.DataFrame(census_data_13)

#Reorder and rename columns
census_13_pd = census_13_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_13_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1535248.0,50010.0,49228.0,46352.0,29101.0,47512.0,45754.0,45788.0,27569.0,472461.0,...,8407.0,1206.0,375.0,490.0,180209.0,69905.0,110304.0,"Alameda County, California",001,06
1,1165.0,43.0,65.0,31.0,28.0,0.0,47.0,11.0,29.0,44.0,...,0.0,3.0,0.0,0.0,184.0,82.0,102.0,"Alpine County, California",003,06
2,37422.0,508.0,895.0,864.0,767.0,782.0,806.0,870.0,574.0,2135.0,...,233.0,0.0,8.0,0.0,3956.0,1164.0,2792.0,"Amador County, California",005,06
3,220542.0,6230.0,6301.0,6588.0,4261.0,6015.0,5879.0,6484.0,4003.0,16511.0,...,1514.0,239.0,65.0,100.0,42059.0,19082.0,22977.0,"Butte County, California",007,06
4,45147.0,880.0,1398.0,1236.0,1048.0,966.0,976.0,1273.0,833.0,1899.0,...,242.0,96.0,0.0,85.0,4745.0,977.0,3768.0,"Calaveras County, California",009,06

In [46]:
# Save raw DF as backup
census_13_pd.to_csv("13_raw_data.csv", encoding="utf-8", index=False)

In [80]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_13_pd['% Foreign Born'] = census_13_pd['# Foreign Born'] / census_13_pd['Total Pop']*100
census_13_pd['% Foreign Born'].head()

0    30.774246
1     3.776824
2     5.705200
3     7.486556
4     4.206260
Name: % Foreign Born, dtype: float64

In [81]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_13_pd['% Overseas Move Past Year'] = census_13_pd['Overseas Move Past Year'] / census_13_pd['Total Pop']*100
census_13_pd['% Overseas Move Past Year'].head()

0    0.982903
1    1.373391
2    0.117578
3    0.392216
4    0.239219
Name: % Overseas Move Past Year, dtype: float64

In [82]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_13_pd['Birthrate Past Year'] = (census_13_pd["Women 15-50 Who've Given Birth"] / census_13_pd['Total Female Population'])*100
census_13_pd['Birthrate Past Year'].head()

0    4.854952
1    0.000000
2    3.099593
3    5.709451
4    2.653259
Name: Birthrate Past Year, dtype: float64

In [83]:
# Create Total School Population from age groups in each enrollment category for 3+
census_13_pd['Total School Pop']=census_13_pd['Male Public Age 3-4']+census_13_pd['Female Public Age 3-4']+census_13_pd['Male Public Age 5-9']+census_13_pd['Female Public Age 5-9']+census_13_pd['Male Public Age 10-14']+census_13_pd['Female Public Age 10-14']+census_13_pd['Male Public Age 15-17']+census_13_pd['Male Public Age 15-17']+ \
    census_13_pd['Male Private Age 3-4']+census_13_pd['Female Private Age 3-4']+census_13_pd['Male Private Age 5-9']+census_13_pd['Female Private Age 5-9']+census_13_pd['Male Private Age 10-14']+census_13_pd['Female Private Age 10-14']+census_13_pd['Male Private Age 15-17']+census_13_pd['Male Private Age 15-17']+ \
    census_13_pd['Male Not Enrolled Age 3-4']+census_13_pd['Female Not Enrolled Age 3-4']+census_13_pd['Male Not Enrolled Age 5-9']+census_13_pd['Female Not Enrolled Age 5-9']+census_13_pd['Male Not Enrolled Age 10-14']+census_13_pd['Female Not Enrolled Age 10-14']+census_13_pd['Male Not Enrolled Age 15-17']+census_13_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_13_pd['% School Aged'] = census_13_pd['Total School Pop'] / census_13_pd['Total Pop']*100
census_13_pd['% School Aged'].head()

0    18.574849
1    20.772532
2    14.929720
3    17.624761
4    17.073117
Name: % School Aged, dtype: float64

In [84]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_13_pd['Ave HH Size'] = (1*(census_13_pd['1-person Fam HH']+census_13_pd['1-person non-Fam HH'])+2*(census_13_pd['2-person Fam HH']+census_13_pd['2-person non-Fam HH'])+3*(census_13_pd['3-person Fam HH']+census_13_pd['3-person non-Fam HH'])+4*(census_13_pd['4-person Fam HH']+census_13_pd['4-person non-Fam HH'])+5*(census_13_pd['5-person Fam HH']+census_13_pd['5-person non-Fam HH'])+6*(census_10_pd['6-person Fam HH']+census_13_pd['6-person non-Fam HH'])+7*(census_13_pd['7+-person Fam HH']+census_13_pd['7+-person non-Fam HH']))/(census_13_pd['Total Fam HH'] + census_13_pd['Total non-Fam HH'])
census_13_pd['Ave HH Size'].head()

0    2.318362
1    3.272381
2    2.171167
3    2.345101
4    2.607168
Name: Ave HH Size, dtype: float64

In [85]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
# (Total Male Not Enrolled + Total Female Not Enrolled) / Total School Population
census_13_pd['% Not Enrolled'] = (census_13_pd['Male Not Enrolled Age 3-4']+census_13_pd['Female Not Enrolled Age 3-4']+census_13_pd['Male Not Enrolled Age 5-9']+census_13_pd['Female Not Enrolled Age 5-9']+census_13_pd['Male Not Enrolled Age 10-14']+census_13_pd['Female Not Enrolled Age 10-14']+census_13_pd['Male Not Enrolled Age 15-17']+census_13_pd['Male Not Enrolled Age 15-17']) / census_13_pd['Total School Pop']*100
census_13_pd['% Not Enrolled'].head()

0    7.693656
1    2.066116
2    9.504206
3    9.441729
4    9.302024
Name: % Not Enrolled, dtype: float64

In [86]:
# Pull % of students attending school below the poverty line:
census_13_pd['% School-Aged Below Poverty Line'] = (census_13_pd['Below Poverty Level Preschool']+census_13_pd['Below Poverty Level Kinder']+census_13_pd['Below Poverty Level Grades 1-4']+census_13_pd['Below Poverty Level Grades 5-8']+census_13_pd['Below Poverty Level Grades 9-12']) / \
    (census_13_pd['Below Poverty Level Preschool']+census_13_pd['Below Poverty Level Kinder']+census_13_pd['Below Poverty Level Grades 1-4']+census_13_pd['Below Poverty Level Grades 5-8']+census_13_pd['Below Poverty Level Grades 9-12']+ \
     census_13_pd['Above Poverty Level Preschool']+census_13_pd['Above Poverty Level Kinder']+census_13_pd['Above Poverty Level Grades 1-4']+census_13_pd['Above Poverty Level Grades 5-8']+census_13_pd['Above Poverty Level Grades 9-12'])*100
census_13_pd['% School-Aged Below Poverty Line'].head()

0    26.556623
1    34.599156
2    23.022152
3    54.210227
4    13.975111
Name: % School-Aged Below Poverty Line, dtype: float64

In [88]:
# Assemble New DF for 2013
Y13_df = census_13_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y13_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1535248.0,30.774246,0.982903,4.854952,18.574849,2.318362,7.693656,26.556623
1,"Alpine County, California",003,1165.0,3.776824,1.373391,0.000000,20.772532,3.272381,2.066116,34.599156
2,"Amador County, California",005,37422.0,5.705200,0.117578,3.099593,14.929720,2.171167,9.504206,23.022152
3,"Butte County, California",007,220542.0,7.486556,0.392216,5.709451,17.624761,2.345101,9.441729,54.210227
4,"Calaveras County, California",009,45147.0,4.206260,0.239219,2.653259,17.073117,2.607168,9.302024,13.975111

In [55]:
# Print to pdf
Y13_df.to_csv("2013_final.csv", encoding="utf-8", index=False)

## 2014 Data

In [56]:
# Run Census Search to retrieve county-level data for 2014
census_data_14 = c14.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_14_pd = pd.DataFrame(census_data_14)

#Reorder and rename columns
census_14_pd = census_14_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_14_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,9974203.0,329505.0,321435.0,332447.0,216131.0,315133.0,307706.0,318660.0,206583.0,3484350.0,...,60342.0,9176.0,3913.0,4973.0,1706375.0,657132.0,1049243.0,"Los Angeles County, California",037,06
1,152452.0,5879.0,5992.0,6006.0,3729.0,5909.0,6315.0,5574.0,3431.0,33159.0,...,1685.0,157.0,24.0,164.0,30188.0,11412.0,18776.0,"Madera County, California",039,06
2,256802.0,6776.0,8044.0,7656.0,4337.0,6477.0,7499.0,7745.0,4282.0,48477.0,...,817.0,211.0,91.0,91.0,21155.0,6919.0,14236.0,"Marin County, California",041,06
3,17946.0,339.0,502.0,360.0,267.0,358.0,374.0,545.0,350.0,1013.0,...,101.0,12.0,0.0,19.0,2818.0,800.0,2018.0,"Mariposa County, California",043,06
4,87612.0,2659.0,2939.0,2613.0,1804.0,2494.0,2515.0,2618.0,1574.0,11707.0,...,516.0,51.0,3.0,44.0,16578.0,5145.0,11433.0,"Mendocino County, California",045,06

In [57]:
# Save raw DF as backup
census_14_pd.to_csv("14_raw_data.csv", encoding="utf-8", index=False)

In [58]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_14_pd['% Foreign Born'] = census_14_pd['# Foreign Born'] / census_14_pd['Total Pop']*100
census_14_pd['% Foreign Born'].head()

0    34.933618
1    21.750453
2    18.877189
3     5.644712
4    13.362325
Name: % Foreign Born, dtype: float64

In [59]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_14_pd['% Overseas Move Past Year'] = census_14_pd['Overseas Move Past Year'] / census_14_pd['Total Pop']*100
census_14_pd['% Overseas Move Past Year'].head()

0    0.696567
1    0.342403
2    0.806847
3    0.278614
4    0.286490
Name: % Overseas Move Past Year, dtype: float64

In [60]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_14_pd['Birthrate Past Year'] = (census_14_pd["Women 15-50 Who've Given Birth"] / census_14_pd['Total Female Population'])*100
census_14_pd['Birthrate Past Year'].head()

0    4.845628
1    6.499315
2    4.872746
3    7.576669
4    5.672889
Name: Birthrate Past Year, dtype: float64

In [61]:
# Create Total School Population from age groups in each enrollment category for 3+
census_14_pd['Total School Pop']=census_14_pd['Male Public Age 3-4']+census_14_pd['Female Public Age 3-4']+census_14_pd['Male Public Age 5-9']+census_14_pd['Female Public Age 5-9']+census_14_pd['Male Public Age 10-14']+census_14_pd['Female Public Age 10-14']+census_14_pd['Male Public Age 15-17']+census_14_pd['Male Public Age 15-17']+ \
    census_14_pd['Male Private Age 3-4']+census_14_pd['Female Private Age 3-4']+census_14_pd['Male Private Age 5-9']+census_14_pd['Female Private Age 5-9']+census_14_pd['Male Private Age 10-14']+census_14_pd['Female Private Age 10-14']+census_14_pd['Male Private Age 15-17']+census_14_pd['Male Private Age 15-17']+ \
    census_14_pd['Male Not Enrolled Age 3-4']+census_14_pd['Female Not Enrolled Age 3-4']+census_14_pd['Male Not Enrolled Age 5-9']+census_14_pd['Female Not Enrolled Age 5-9']+census_14_pd['Male Not Enrolled Age 10-14']+census_14_pd['Female Not Enrolled Age 10-14']+census_14_pd['Male Not Enrolled Age 15-17']+census_14_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_14_pd['% School Aged'] = census_14_pd['Total School Pop'] / census_14_pd['Total Pop']*100
census_14_pd['% School Aged'].head()

0    19.879644
1    23.587752
2    17.812945
3    14.120138
4    18.741725
Name: % School Aged, dtype: float64

In [62]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_14_pd['Ave HH Size'] = (1*(census_14_pd['1-person Fam HH']+census_14_pd['1-person non-Fam HH'])+2*(census_14_pd['2-person Fam HH']+census_14_pd['2-person non-Fam HH'])+3*(census_14_pd['3-person Fam HH']+census_14_pd['3-person non-Fam HH'])+4*(census_14_pd['4-person Fam HH']+census_14_pd['4-person non-Fam HH'])+5*(census_14_pd['5-person Fam HH']+census_14_pd['5-person non-Fam HH'])+6*(census_14_pd['6-person Fam HH']+census_14_pd['6-person non-Fam HH'])+7*(census_14_pd['7+-person Fam HH']+census_14_pd['7+-person non-Fam HH']))/(census_14_pd['Total Fam HH'] + census_14_pd['Total non-Fam HH'])
census_14_pd['Ave HH Size'].head()

0    2.593119
1    3.154386
2    2.140040
3    2.195079
4    2.107468
Name: Ave HH Size, dtype: float64

In [63]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
census_14_pd['% Not Enrolled'] = (census_14_pd['Male Not Enrolled Age 3-4']+census_14_pd['Female Not Enrolled Age 3-4']+census_14_pd['Male Not Enrolled Age 5-9']+census_14_pd['Female Not Enrolled Age 5-9']+census_14_pd['Male Not Enrolled Age 10-14']+census_14_pd['Female Not Enrolled Age 10-14']+census_14_pd['Male Not Enrolled Age 15-17']+census_14_pd['Male Not Enrolled Age 15-17']) / census_14_pd['Total School Pop']*100
census_14_pd['% Not Enrolled'].head()

0     8.216010
1    10.139043
2     5.653200
3     7.221784
4     9.378806
Name: % Not Enrolled, dtype: float64

In [64]:
# Pull % of students attending school below the poverty line:
census_14_pd['% School-Aged Below Poverty Line'] = (census_14_pd['Below Poverty Level Preschool']+census_14_pd['Below Poverty Level Kinder']+census_14_pd['Below Poverty Level Grades 1-4']+census_14_pd['Below Poverty Level Grades 5-8']+census_14_pd['Below Poverty Level Grades 9-12']) / \
    (census_14_pd['Below Poverty Level Preschool']+census_14_pd['Below Poverty Level Kinder']+census_14_pd['Below Poverty Level Grades 1-4']+census_14_pd['Below Poverty Level Grades 5-8']+census_14_pd['Below Poverty Level Grades 9-12']+ \
     census_14_pd['Above Poverty Level Preschool']+census_14_pd['Above Poverty Level Kinder']+census_14_pd['Above Poverty Level Grades 1-4']+census_14_pd['Above Poverty Level Grades 5-8']+census_14_pd['Above Poverty Level Grades 9-12'])*100
census_14_pd['% School-Aged Below Poverty Line'].head()

0    36.107622
1    35.315962
2    16.031790
3    34.028073
4    34.576613
Name: % School-Aged Below Poverty Line, dtype: float64

In [65]:
# Assemble New DF for 2014
Y14_df = census_14_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y14_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Los Angeles County, California",037,9974203.0,34.933618,0.696567,4.845628,19.879644,2.593119,8.216010,36.107622
1,"Madera County, California",039,152452.0,21.750453,0.342403,6.499315,23.587752,3.154386,10.139043,35.315962
2,"Marin County, California",041,256802.0,18.877189,0.806847,4.872746,17.812945,2.140040,5.653200,16.031790
3,"Mariposa County, California",043,17946.0,5.644712,0.278614,7.576669,14.120138,2.195079,7.221784,34.028073
4,"Mendocino County, California",045,87612.0,13.362325,0.286490,5.672889,18.741725,2.107468,9.378806,34.576613

In [66]:
# Print to pdf
Y14_df.to_csv("2014_final.csv", encoding="utf-8", index=False)

## 2015 Data

In [67]:
# Run Census Search to retrieve county-level data for 2015
census_data_15 = c15.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_15_pd = pd.DataFrame(census_data_15)

#Reorder and rename columns
census_15_pd = census_15_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_15_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1584983.0,49806.0,50042.0,47021.0,28378.0,47807.0,46688.0,46436.0,27131.0,497014.0,...,8225.0,1272.0,374.0,480.0,186221.0,71488.0,114733.0,"Alameda County, California",001,06
1,1131.0,29.0,52.0,29.0,52.0,10.0,26.0,25.0,28.0,38.0,...,0.0,2.0,0.0,0.0,195.0,30.0,165.0,"Alpine County, California",003,06
2,36995.0,646.0,900.0,736.0,649.0,652.0,751.0,901.0,502.0,2046.0,...,145.0,4.0,8.0,0.0,3990.0,1224.0,2766.0,"Amador County, California",005,06
3,222564.0,6241.0,6406.0,6455.0,4135.0,5914.0,6316.0,6086.0,3869.0,16961.0,...,1253.0,277.0,79.0,73.0,45859.0,20263.0,25596.0,"Butte County, California",007,06
4,44767.0,730.0,1407.0,1005.0,1000.0,1073.0,1047.0,1151.0,777.0,2324.0,...,315.0,90.0,21.0,107.0,5451.0,1071.0,4380.0,"Calaveras County, California",009,06

In [68]:
# Save raw DF as backup
census_15_pd.to_csv("15_raw_data.csv", encoding="utf-8", index=False)

In [69]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_15_pd['% Foreign Born'] = census_15_pd['# Foreign Born'] / census_15_pd['Total Pop']*100
census_15_pd['% Foreign Born'].head()

0    31.357686
1     3.359859
2     5.530477
3     7.620729
4     5.191324
Name: % Foreign Born, dtype: float64

In [70]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_15_pd['% Overseas Move Past Year'] = census_15_pd['Overseas Move Past Year'] / census_15_pd['Total Pop']*100
census_15_pd['% Overseas Move Past Year'].head()

0    1.126637
1    1.326260
2    0.186512
3    0.353157
4    0.163067
Name: % Overseas Move Past Year, dtype: float64

In [71]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_15_pd['Birthrate Past Year'] = (census_15_pd["Women 15-50 Who've Given Birth"] / census_15_pd['Total Female Population'])*100
census_15_pd['Birthrate Past Year'].head()

0    5.014712
1    2.463054
2    3.698559
3    5.545832
4    2.851375
Name: Birthrate Past Year, dtype: float64

In [72]:
# Create Total School Population from age groups in each enrollment category for 3+
census_15_pd['Total School Pop']=census_15_pd['Male Public Age 3-4']+census_15_pd['Female Public Age 3-4']+census_15_pd['Male Public Age 5-9']+census_15_pd['Female Public Age 5-9']+census_15_pd['Male Public Age 10-14']+census_15_pd['Female Public Age 10-14']+census_15_pd['Male Public Age 15-17']+census_15_pd['Male Public Age 15-17']+ \
    census_15_pd['Male Private Age 3-4']+census_15_pd['Female Private Age 3-4']+census_15_pd['Male Private Age 5-9']+census_15_pd['Female Private Age 5-9']+census_15_pd['Male Private Age 10-14']+census_15_pd['Female Private Age 10-14']+census_15_pd['Male Private Age 15-17']+census_15_pd['Male Private Age 15-17']+ \
    census_15_pd['Male Not Enrolled Age 3-4']+census_15_pd['Female Not Enrolled Age 3-4']+census_15_pd['Male Not Enrolled Age 5-9']+census_15_pd['Female Not Enrolled Age 5-9']+census_15_pd['Male Not Enrolled Age 10-14']+census_15_pd['Female Not Enrolled Age 10-14']+census_15_pd['Male Not Enrolled Age 15-17']+census_15_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_15_pd['% School Aged'] = census_15_pd['Total School Pop'] / census_15_pd['Total Pop']*100
census_15_pd['% School Aged'].head()

0    18.049973
1    23.253758
2    13.631572
3    17.344674
4    16.293252
Name: % School Aged, dtype: float64

In [73]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_15_pd['Ave HH Size'] = (1*(census_15_pd['1-person Fam HH']+census_15_pd['1-person non-Fam HH'])+2*(census_15_pd['2-person Fam HH']+census_15_pd['2-person non-Fam HH'])+3*(census_15_pd['3-person Fam HH']+census_15_pd['3-person non-Fam HH'])+4*(census_15_pd['4-person Fam HH']+census_15_pd['4-person non-Fam HH'])+5*(census_15_pd['5-person Fam HH']+census_15_pd['5-person non-Fam HH'])+6*(census_15_pd['6-person Fam HH']+census_15_pd['6-person non-Fam HH'])+7*(census_15_pd['7+-person Fam HH']+census_15_pd['7+-person non-Fam HH']))/(census_15_pd['Total Fam HH'] + census_15_pd['Total non-Fam HH'])
census_15_pd['Ave HH Size'].head()

0    2.453636
1    2.162933
2    2.208261
3    2.107025
4    2.211503
Name: Ave HH Size, dtype: float64

In [74]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
census_15_pd['% Not Enrolled'] = (census_15_pd['Male Not Enrolled Age 3-4']+census_15_pd['Female Not Enrolled Age 3-4']+census_15_pd['Male Not Enrolled Age 5-9']+census_15_pd['Female Not Enrolled Age 5-9']+census_15_pd['Male Not Enrolled Age 10-14']+census_15_pd['Female Not Enrolled Age 10-14']+census_15_pd['Male Not Enrolled Age 15-17']+census_15_pd['Male Not Enrolled Age 15-17']) / census_15_pd['Total School Pop']*100
census_15_pd['% Not Enrolled'].head()

0     7.602529
1     1.901141
2     7.773151
3     9.602881
4    10.241294
Name: % Not Enrolled, dtype: float64

In [75]:
# Pull % of students attending school below the poverty line:
census_15_pd['% School-Aged Below Poverty Line'] = (census_15_pd['Below Poverty Level Preschool']+census_15_pd['Below Poverty Level Kinder']+census_15_pd['Below Poverty Level Grades 1-4']+census_15_pd['Below Poverty Level Grades 5-8']+census_15_pd['Below Poverty Level Grades 9-12']) / \
    (census_15_pd['Below Poverty Level Preschool']+census_15_pd['Below Poverty Level Kinder']+census_15_pd['Below Poverty Level Grades 1-4']+census_15_pd['Below Poverty Level Grades 5-8']+census_15_pd['Below Poverty Level Grades 9-12']+ \
     census_15_pd['Above Poverty Level Preschool']+census_15_pd['Above Poverty Level Kinder']+census_15_pd['Above Poverty Level Grades 1-4']+census_15_pd['Above Poverty Level Grades 5-8']+census_15_pd['Above Poverty Level Grades 9-12'])*100
census_15_pd['% School-Aged Below Poverty Line'].head()

0    27.044061
1    11.627907
2    26.316921
3    58.066827
4    16.358638
Name: % School-Aged Below Poverty Line, dtype: float64

In [89]:
# Assemble New DF for 2015
Y15_df = census_15_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y15_df.head()

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1584983.0,31.357686,1.126637,5.014712,18.049973,2.453636,7.602529,27.044061
1,"Alpine County, California",003,1131.0,3.359859,1.326260,2.463054,23.253758,2.162933,1.901141,11.627907
2,"Amador County, California",005,36995.0,5.530477,0.186512,3.698559,13.631572,2.208261,7.773151,26.316921
3,"Butte County, California",007,222564.0,7.620729,0.353157,5.545832,17.344674,2.107025,9.602881,58.066827
4,"Calaveras County, California",009,44767.0,5.191324,0.163067,2.851375,16.293252,2.211503,10.241294,16.358638

In [90]:
# Print to pdf
Y15_df.to_csv("2015_final.csv", encoding="utf-8", index=False)

## 2016 Data

In [91]:
# Run Census Search to retrieve county-level data for 2016
census_data_16 = c16.acs5.get(("NAME","B01001_001E","B05002_013E", "B01001_003E", "B01001_027E", "B01001_004E", 
                              "B01001_028E", "B01001_005E", "B01001_029E","B01001_006E", "B01001_030E",
                              "B07001_081E", "B11016_001E", "B11016_002E", "B11016_003E", "B11016_004E", 
                              "B11016_005E", "B11016_006E", "B11016_007E", "B11016_008E","B11016_009E",
                              "B11016_010E", "B11016_011E", "B11016_012E", "B11016_013E", "B11016_014E",
                              "B11016_015E", "B11016_016E", "B14003_003E", "B14003_004E", "B14003_005E",
                               "B14003_006E", "B14003_007E", "B14003_031E", "B14003_032E", "B14003_033E",
                              "B14003_034E", "B14003_035E", "B14003_012E", "B14003_013E", "B14003_014E",
                              "B14003_015E", "B14003_016E", "B14003_040E", "B14003_041E", "B14003_042E",
                              "B14003_043E", "B14003_044E", "B14003_021E", "B14003_022E", "B14003_023E",
                              "B14003_024E", "B14003_025E", "B14003_049E", "B14003_050E", "B14003_051E",
                              "B14003_052E", "B14003_053E", "B13002_001E", "B13002_002E", "B14006_002E",
                              "B14006_003E", "B14006_011E", "B14006_004E", "B14006_005E", "B14006_006E",
                              "B14006_007E", "B14006_008E", "B14006_014E", "B14006_015E", "B14006_016E",
                              "B14006_017E", "B14006_018E"), {'for': 'county:*', 'in': 'state:06'})

# Convert to DataFrame
census_16_pd = pd.DataFrame(census_data_16)

#Reorder and rename columns
census_16_pd = census_16_pd.rename(columns={"Name":"County",
                                            "B01001_001E":"Total Pop",
                                            "B05002_013E":"# Foreign Born",
                                            "B13002_001E":"Total Female Population",
                                            "B13002_002E":"Women 15-50 Who've Given Birth",
                                            "B01001_003E":"Males < 5",
                                            "B01001_027E":"Females < 5",
                                            "B01001_004E":"Males 5-9",
                                            "B01001_028E":"Females 5-9",
                                            "B01001_005E":"Males 10-14",
                                            "B01001_029E":"Females 10-14",
                                            "B01001_006E":"Males 15-17",
                                            "B01001_030E":"Females 15-17",
                                            "B07001_081E":"Overseas Move Past Year",
                                            "B11016_001E":"Total Fam HH",
                                            "B11016_009E":"Total non-Fam HH",
                                            "B11016_002E":"1-person Fam HH",
                                            "B11016_010E":"1-person non-Fam HH",
                                            "B11016_003E":"2-person Fam HH",
                                            "B11016_011E":"2-person non-Fam HH",
                                            "B11016_004E":"3-person Fam HH",
                                            "B11016_012E":"3-person non-Fam HH",
                                            "B11016_005E":"4-person Fam HH",
                                            "B11016_013E":"4-person non-Fam HH",
                                            "B11016_006E":"5-person Fam HH",
                                            "B11016_014E":"5-person non-Fam HH",
                                            "B11016_007E":"6-person Fam HH",
                                            "B11016_015E":"6-person non-Fam HH",
                                            "B11016_008E":"7+-person Fam HH",
                                            "B11016_016E":"7+-person non-Fam HH",
                                            "B14003_003E":"Total Male Public School",
                                            "B14003_031E":"Total Female Public School",
                                            "B14003_004E":"Male Public Age 3-4",
                                            "B14003_032E":"Female Public Age 3-4",
                                            "B14003_005E":"Male Public Age 5-9",
                                            "B14003_033E":"Female Public Age 5-9",
                                            "B14003_006E":"Male Public Age 10-14",
                                            "B14003_034E":"Female Public Age 10-14",
                                            "B14003_007E":"Male Public Age 15-17",
                                            "B14003_035E":"Female Public Age 15-17",
                                            "B14003_012E":"Total Male Private School",
                                            "B14003_040E":"Total Female Private School",
                                            "B14003_013E":"Male Private Age 3-4",
                                            "B14003_041E":"Female Private Age 3-4",
                                            "B14003_014E":"Male Private Age 5-9",
                                            "B14003_042E":"Female Private Age 5-9",
                                            "B14003_015E":"Male Private Age 10-14",
                                            "B14003_043E":"Female Private Age 10-14",
                                            "B14003_016E":"Male Private Age 15-17",
                                            "B14003_044E":"Female Private Age 15-17",
                                            "B14003_021E":"Total Male Not Enrolled",
                                            "B14003_049E":"Total Female Not Enrolled",
                                            "B14003_022E":"Male Not Enrolled Age 3-4",
                                            "B14003_050E":"Female Not Enrolled Age 3-4",
                                            "B14003_023E":"Male Not Enrolled Age 5-9",
                                            "B14003_051E":"Female Not Enrolled Age 5-9",
                                            "B14003_024E":"Male Not Enrolled Age 10-14",
                                            "B14003_052E":"Female Not Enrolled Age 10-14",
                                            "B14003_025E":"Male Not Enrolled Age 15-17",
                                            "B14003_053E":"Female Not Enrolled Age 15-17",
                                            "B14006_002E":"Total Below Poverty Level Ages 3+",
                                            "B14006_003E":"Below Poverty Level Enrolled in School Ages 3+",
                                            "B14006_011E":"Below Poverty Level Not Enrolled Ages 3+",
                                            "B14006_004E":"Below Poverty Level Preschool",
                                            "B14006_005E":"Below Poverty Level Kinder",
                                            "B14006_006E":"Below Poverty Level Grades 1-4",
                                            "B14006_007E":"Below Poverty Level Grades 5-8",
                                            "B14006_008E":"Below Poverty Level Grades 9-12",
                                            "B14006_014E":"Above Poverty Level Preschool",
                                            "B14006_015E":"Above Poverty Level Kinder",
                                            "B14006_016E":"Above Poverty Level Grades 1-4",
                                            "B14006_017E":"Above Poverty Level Grades 5-8",
                                            "B14006_018E":"Above Poverty Level Grades 9-12",
                                           })

census_16_pd.head()

,Total Pop,Males < 5,Males 5-9,Males 10-14,Males 15-17,Females < 5,Females 5-9,Females 10-14,Females 15-17,# Foreign Born,...,Female Not Enrolled Age 3-4,Female Not Enrolled Age 5-9,Female Not Enrolled Age 10-14,Female Not Enrolled Age 15-17,Total Below Poverty Level Ages 3+,Below Poverty Level Enrolled in School Ages 3+,Below Poverty Level Not Enrolled Ages 3+,NAME,county,state
0,1605217,49865.0,50533.0,47232.0,28154.0,47707.0,46762.0,46917.0,27042.0,508761.0,...,8382.0,1290.0,386.0,549.0,181650.0,69287.0,112363.0,"Alameda County, California",001,06
1,1184,33.0,34.0,45.0,54.0,18.0,24.0,30.0,36.0,37.0,...,3.0,3.0,0.0,0.0,212.0,47.0,165.0,"Alpine County, California",003,06
2,36963,681.0,947.0,676.0,641.0,711.0,669.0,944.0,476.0,2254.0,...,196.0,4.0,9.0,15.0,3508.0,958.0,2550.0,"Amador County, California",005,06
3,223877,6353.0,6577.0,6312.0,4125.0,5867.0,6625.0,5830.0,3783.0,17501.0,...,1206.0,329.0,79.0,72.0,44981.0,20564.0,24417.0,"Butte County, California",007,06
4,44787,750.0,1452.0,900.0,941.0,1077.0,1099.0,1073.0,750.0,2653.0,...,203.0,97.0,25.0,86.0,5462.0,1174.0,4288.0,"Calaveras County, California",009,06

In [92]:
# Save raw DF as backup
census_16_pd.to_csv("16_raw_data.csv", encoding="utf-8", index=False)

In [93]:
census_16_pd.dtypes

Total Pop                                          object
Males < 5                                         float64
Males 5-9                                         float64
Males 10-14                                       float64
Males 15-17                                       float64
Females < 5                                       float64
Females 5-9                                       float64
Females 10-14                                     float64
Females 15-17                                     float64
# Foreign Born                                    float64
Overseas Move Past Year                           float64
Total Fam HH                                      float64
1-person Fam HH                                   float64
2-person Fam HH                                   float64
3-person Fam HH                                   float64
4-person Fam HH                                   float64
5-person Fam HH                                   float64
6-person Fam HH                                   float64
7+-person Fam HH                                  float64
Total non-Fam HH                                  float64
1-person non-Fam HH                               float64
2-person non-Fam HH                               float64
3-person non-Fam HH                               float64
4-person non-Fam HH                               float64
5-person non-Fam HH                               float64
6-person non-Fam HH                               float64
7+-person non-Fam HH                              float64
Total Female Population                           float64
Women 15-50 Who've Given Birth                    float64
Total Male Public School                          float64
                                                   ...
Male Private Age 3-4                              float64
Male Private Age 5-9                              float64
Male Private Age 10-14                            float64
Male Private Age 15-17                            float64
Total Male Not Enrolled                           float64
Male Not Enrolled Age 3-4                         float64
Male Not Enrolled Age 5-9                         float64
Male Not Enrolled Age 10-14                       float64
Male Not Enrolled Age 15-17                       float64
Total Female Public School                        float64
Female Public Age 3-4                             float64
Female Public Age 5-9                             float64
Female Public Age 10-14                           float64
Female Public Age 15-17                           float64
Total Female Private School                       float64
Female Private Age 3-4                            float64
Female Private Age 5-9                            float64
Female Private Age 10-14                          float64
Female Private Age 15-17                          float64
Total Female Not Enrolled                         float64
Female Not Enrolled Age 3-4                       float64
Female Not Enrolled Age 5-9                       float64
Female Not Enrolled Age 10-14                     float64
Female Not Enrolled Age 15-17                     float64
Total Below Poverty Level Ages 3+                 float64
Below Poverty Level Enrolled in School Ages 3+    float64
Below Poverty Level Not Enrolled Ages 3+          float64
NAME                                               object
county                                             object
state                                              object
Length: 65, dtype: object

In [94]:
census_16_pd['Total Pop'] = census_16_pd['Total Pop'].apply(pd.to_numeric, errors='coerce')
census_16_pd['Total Pop'].head()

0    1605217
1       1184
2      36963
3     223877
4      44787
Name: Total Pop, dtype: int64

In [95]:
# Pull % of population that is foreign born: 
# # Foreign Born / Total Pop
census_16_pd['% Foreign Born'] = census_16_pd['# Foreign Born'] / census_16_pd['Total Pop']*100
census_16_pd['% Foreign Born'].head()

0    31.694220
1     3.125000
2     6.097990
3     7.817239
4     5.923594
Name: % Foreign Born, dtype: float64

In [96]:
# Pull % of population that moved from overseas in past year: 
# Overseas Move Past Year / Total Pop
census_16_pd['% Overseas Move Past Year'] = census_16_pd['Overseas Move Past Year'] / census_16_pd['Total Pop']*100
census_16_pd['% Overseas Move Past Year'].head()

0    1.240891
1    0.675676
2    0.135270
3    0.316692
4    0.154063
Name: % Overseas Move Past Year, dtype: float64

In [97]:
# Pull birthrate from previous year:
# Women 15-50 Who've Given Birth / Total Female Population
census_16_pd['Birthrate Past Year'] = (census_16_pd["Women 15-50 Who've Given Birth"] / census_16_pd['Total Female Population'])*100
census_16_pd['Birthrate Past Year'].head()

0    4.892694
1    5.050505
2    5.160611
3    4.934380
4    2.705128
Name: Birthrate Past Year, dtype: float64

In [98]:
# Create Total School Population from age groups in each enrollment category for 3+
census_16_pd['Total School Pop']=census_16_pd['Male Public Age 3-4']+census_16_pd['Female Public Age 3-4']+census_16_pd['Male Public Age 5-9']+census_16_pd['Female Public Age 5-9']+census_16_pd['Male Public Age 10-14']+census_16_pd['Female Public Age 10-14']+census_16_pd['Male Public Age 15-17']+census_16_pd['Male Public Age 15-17']+ \
    census_16_pd['Male Private Age 3-4']+census_16_pd['Female Private Age 3-4']+census_16_pd['Male Private Age 5-9']+census_16_pd['Female Private Age 5-9']+census_16_pd['Male Private Age 10-14']+census_16_pd['Female Private Age 10-14']+census_16_pd['Male Private Age 15-17']+census_16_pd['Male Private Age 15-17']+ \
    census_16_pd['Male Not Enrolled Age 3-4']+census_16_pd['Female Not Enrolled Age 3-4']+census_16_pd['Male Not Enrolled Age 5-9']+census_16_pd['Female Not Enrolled Age 5-9']+census_16_pd['Male Not Enrolled Age 10-14']+census_16_pd['Female Not Enrolled Age 10-14']+census_16_pd['Male Not Enrolled Age 15-17']+census_16_pd['Male Not Enrolled Age 15-17']

# Pull % of population that is school aged:
# Total School Population / Total Pop
census_16_pd['% School Aged'] = census_16_pd['Total School Pop'] / census_16_pd['Total Pop']*100
census_16_pd['% School Aged'].head()

0    17.875340
1    22.972973
2    13.597381
3    17.332285
4    15.607207
Name: % School Aged, dtype: float64

In [99]:
# Pull average HH Size:
# (1*(1-Person Fam HH + 1-person non-Fam HH) + 2*(2-Person Fam HH + 2-person non-Fam HH) + 3*(3-Person Fam HH + 3-person non-Fam HH)
# ...) / (Total Fam HH + Total non-Fam HH)
census_16_pd['Ave HH Size'] = (1*(census_16_pd['1-person Fam HH']+census_16_pd['1-person non-Fam HH'])+2*(census_16_pd['2-person Fam HH']+census_16_pd['2-person non-Fam HH'])+3*(census_16_pd['3-person Fam HH']+census_16_pd['3-person non-Fam HH'])+4*(census_16_pd['4-person Fam HH']+census_16_pd['4-person non-Fam HH'])+5*(census_16_pd['5-person Fam HH']+census_16_pd['5-person non-Fam HH'])+6*(census_16_pd['6-person Fam HH']+census_16_pd['6-person non-Fam HH'])+7*(census_16_pd['7+-person Fam HH']+census_16_pd['7+-person non-Fam HH']))/(census_16_pd['Total Fam HH'] + census_16_pd['Total non-Fam HH'])
census_16_pd['Ave HH Size'].head()

0    2.477223
1    2.437778
2    2.240477
3    2.108413
4    2.255589
Name: Ave HH Size, dtype: float64

In [100]:
# Pull % of school-aged population not enrolled at public or private school (proxy for homeschool):
census_16_pd['% Not Enrolled'] = (census_16_pd['Male Not Enrolled Age 3-4']+census_16_pd['Female Not Enrolled Age 3-4']+census_16_pd['Male Not Enrolled Age 5-9']+census_16_pd['Female Not Enrolled Age 5-9']+census_16_pd['Male Not Enrolled Age 10-14']+census_16_pd['Female Not Enrolled Age 10-14']+census_16_pd['Male Not Enrolled Age 15-17']+census_16_pd['Male Not Enrolled Age 15-17']) / census_16_pd['Total School Pop']*100
census_16_pd['% Not Enrolled'].head()

0     7.561912
1     4.411765
2    10.405889
3     9.099812
4    10.658083
Name: % Not Enrolled, dtype: float64

In [101]:
# Pull % of students attending school below the poverty line:
census_16_pd['% School-Aged Below Poverty Line'] = (census_16_pd['Below Poverty Level Preschool']+census_16_pd['Below Poverty Level Kinder']+census_16_pd['Below Poverty Level Grades 1-4']+census_16_pd['Below Poverty Level Grades 5-8']+census_16_pd['Below Poverty Level Grades 9-12']) / \
    (census_16_pd['Below Poverty Level Preschool']+census_16_pd['Below Poverty Level Kinder']+census_16_pd['Below Poverty Level Grades 1-4']+census_16_pd['Below Poverty Level Grades 5-8']+census_16_pd['Below Poverty Level Grades 9-12']+ \
     census_16_pd['Above Poverty Level Preschool']+census_16_pd['Above Poverty Level Kinder']+census_16_pd['Above Poverty Level Grades 1-4']+census_16_pd['Above Poverty Level Grades 5-8']+census_16_pd['Above Poverty Level Grades 9-12'])*100
census_16_pd['% School-Aged Below Poverty Line'].head()

0    26.122380
1    18.076923
2    21.274706
3    58.301202
4    18.799039
Name: % School-Aged Below Poverty Line, dtype: float64

In [104]:
# Assemble New DF for 2016
Y16_df = census_16_pd.loc[:,['NAME','county','Total Pop','% Foreign Born','% Overseas Move Past Year','Birthrate Past Year','% School Aged',
                        'Ave HH Size','% Not Enrolled','% School-Aged Below Poverty Line']]
Y16_df

,NAME,county,Total Pop,% Foreign Born,% Overseas Move Past Year,Birthrate Past Year,% School Aged,Ave HH Size,% Not Enrolled,% School-Aged Below Poverty Line
0,"Alameda County, California",001,1605217,31.694220,1.240891,4.892694,17.875340,2.477223,7.561912,26.122380
1,"Alpine County, California",003,1184,3.125000,0.675676,5.050505,22.972973,2.437778,4.411765,18.076923
2,"Amador County, California",005,36963,6.097990,0.135270,5.160611,13.597381,2.240477,10.405889,21.274706
3,"Butte County, California",007,223877,7.817239,0.316692,4.934380,17.332285,2.108413,9.099812,58.301202
4,"Calaveras County, California",009,44787,5.923594,0.154063,2.705128,15.607207,2.255589,10.658083,18.799039
5,"Colusa County, California",011,21361,24.970741,0.280886,7.588606,23.570994,2.965784,9.791460,24.702774
6,"Contra Costa County, California",013,1107925,24.398312,0.820814,4.947659,20.258592,2.657985,6.893740,18.426430
7,"Del Norte County, California",015,27628,5.657304,0.097727,9.278351,18.198929,2.122026,8.313445,36.052061
8,"El Dorado County, California",017,183000,9.377049,0.312022,4.697611,18.398907,2.457138,7.781408,14.415459
9,"Fresno County, California",019,963160,21.363636,0.466381,5.976560,24.197433,2.897466,11.053806,46.662775
10,"Glenn County, California",021,27976,19.012725,0.260938,9.117409,22.966114,2.601629,12.202335,32.618330
11,"Humboldt County, California",023,135182,5.323194,0.194553,5.289828,16.343152,1.992909,8.536641,52.130450
12,"Imperial County, California",025,178807,31.844950,0.949627,6.801811,24.118183,3.139849,9.215072,39.705244
13,"Inyo County, California",027,18326,9.582015,0.180072,4.643064,17.936265,1.873808,8.396714,16.539356
14,"Kern County, California",029,871337,20.273098,0.463885,6.354373,24.776063,2.995634,11.443235,37.798608
15,"Kings County, California",031,150261,18.381350,0.704774,5.761701,22.845582,3.021205,10.877418,36.686932
16,"Lake County, California",033,64076,8.995568,0.195081,5.882834,17.658718,2.057899,10.499337,42.470623
17,"Lassen County, California",035,31945,6.025982,0.375646,6.080449,13.936453,2.100974,9.254268,30.742574
18,"Los Angeles County, California",037,10057155,34.545605,0.747100,4.651617,19.252681,2.572521,8.329666,35.734515
19,"Madera County, California",039,153366,21.495638,0.273203,7.093153,23.230703,3.079686,10.769619,35.217514
20,"Marin County, California",041,259358,18.376144,0.901842,4.928407,17.750754,2.135288,4.924193,14.660392
21,"Mariposa County, California",043,17645,7.044489,0.170020,7.354722,13.391896,2.219553,8.887008,30.794241
22,"Mendocino County, California",045,87409,12.590237,0.248258,5.008782,18.454621,2.050066,8.660343,34.315189
23,"Merced County, California",047,265001,25.448206,0.382640,6.399913,25.417640,3.147704,9.085915,43.204272
24,"Modoc County, California",049,9033,6.254843,0.000000,7.283951,18.421344,1.991276,11.598558,19.034670
25,"Mono County, California",051,14051,16.952530,1.160060,1.581167,18.233578,1.773637,5.035129,14.097822
26,"Monterey County, California",053,430201,30.021548,0.675731,5.665486,22.141278,2.881467,11.536766,30.192374
27,"Napa County, California",055,140823,22.844280,0.458732,4.681624,18.632610,2.507710,8.525477,12.898925
28,"Nevada County, California",057,98639,6.345360,0.308195,4.493819,15.775707,2.094554,8.804061,23.867240
29,"Orange County, California",059,3132211,30.377104,0.795413,4.711904,19.569786,2.778596,8.094074,25.842589
30,"Placer County, California",061,370571,10.451169,0.413686,5.198310,19.901989,2.479823,7.913113,15.279393
31,"Plumas County, California",063,18754,4.121787,0.266610,5.220126,14.583556,1.913524,13.382084,25.833685
32,"Riverside County, California",065,2323892,21.879631,0.518828,5.262555,22.560386,2.909720,10.309396,28.678580
33,"Sacramento County, California",067,1479300,20.507740,0.598256,5.381138,20.524099,2.440932,9.542740,34.555418
34,"San Benito County, California",069,58051,19.606897,0.298014,5.966570,23.191676,3.263978,7.583748,17.682045
35,"San Bernardino County, California",071,2106754,21.312218,0.517289,5.912470,23.207503,3.060454,10.536585,32.991777
36,"San Diego County, California",073,3253356,23.530564,1.078517,4.948401,18.591541,2.486770,8.871966,29.909087
37,"San Francisco County, California",075,850282,34.911829,1.550074,3.626124,10.624828,1.728198,6.702383,41.111217
38,"San Joaquin County, California",077,714860,23.255463,0.393923,6.247765,23.864253,2.971398,10.294497,28.943895
39,"San Luis Obispo County, California",079,278680,10.435984,0.571982,4.086593,15.458590,2.232370,8.971681,47.787836
40,"San Mateo County, California",081,754748,34.524901,1.167277,4.788899,18.050131,2.562139,6.916826,15.027206
41,"Santa Barbara County, California",083,439395,22.989338,1.183445,4.601895,18.837720,2.537143,9.845117,41.928092
42,"Santa Clara County, California",085,1885056,38.066243,1.809283,5.199492,19.403031,2.748208,7.723413,18.277439
43,"Santa Cruz County, California",087,270931,17.989082,0.459896,4.955148,16.961883,2.314228,10.901969,40.410307
44,"Shasta County, California",089,179228,4.806169,0.451380,4.572654,18.533934,2.183722,9.377446,34.687573
45,"Sierra County, California",091,2931,4.332992,0.000000,1.839080,13.749574,1.863765,9.429280,15.890411
46,"Siskiyou County, California",093,43668,4.946414,0.091600,4.877122,16.891087,2.036617,9.232646,37.475728
47,"Solano County, California",095,429596,20.124955,0.700426,4.891042,19.543013,2.685097,10.411406,23.188194
48,"Sonoma County, California",097,497776,16.804748,0.356988,4.761015,17.654326,2.266237,8.404738,21.870225
49,"Stanislaus County, California",099,530561,20.346954,0.418237,6.020892,23.130611,2.896951,10.154658,31.197170
50,"Sutter County, California",101,95406,22.590822,0.924470,6.623835,22.608641,2.850915,10.041725,31.225521
51,"Tehama County, California",103,63015,8.320241,0.207887,4.866362,19.812743,2.419373,6.688026,39.553648
52,"Trinity County, California",105,13180,4.871017,0.000000,3.832753,15.311077,1.987978,10.753221,35.202665
53,"Tulare County, California",107,455769,22.480467,0.355663,6.661595,26.674697,3.230625,10.986634,44.858526
54,"Tuolumne County, California",109,53864,4.637606,0.064978,4.002175,14.378806,2.134518,9.502905,19.232415
55,"Ventura County, California",111,843110,22.819917,0.543464,5.271665,20.789695,2.833683,8.240529,18.784352
56,"Yolo County, California",113,209671,22.160909,1.563402,3.788579,18.489443,2.363584,8.798721,66.628012
57,"Yuba County, California",115,73897,12.127691,0.895842,7.756440,23.260755,2.765483,9.814416,35.156754

In [103]:
# Print to pdf
Y16_df.to_csv("2016_final.csv", encoding="utf-8", index=False)